Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

Apply and fixing new eslint rules
  src/App.vue
  src/AppEta.vue
  src/AppMultiTimer.vue
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/helper.ts
  src/helperLinReg.ts
  src/main.ts
  src/mainEta.ts
  src/mainMultiTimer.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  vite.config.ts
  vitest.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Adjust to stricter ESLint rules
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/helper.ts
  src/main.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update cypress.config.ts
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

Documentation
  README.md
  cspell-words.txt
Due: npx prettier --cache --write

Tools
  .editorconfig
  .gitattributes
  .github/workflows/check.yml
  .github/workflows/update.yml
  .gitignore
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  cspell.config.yaml
  eslint.config.ts
  scripts/copy-modified-files.ps1
  scripts/deploy.sh
  scripts/update.sh
  sonar-project.properties
Due: npx prettier --cache --write, eslint --cache

add type="button"
  src/components/DataTable.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Update package.json
  package.json
Due: npx prettier --cache --write

Update check.yml
  .github/workflows/check.yml
Due: npx prettier --cache --write

eslint.config.ts: fix v- warnings
  eslint.config.ts
Due: npx prettier --cache --write, eslint --cache

Update tool config
  .github/workflows/check.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Lock
  pnpm-lock.yaml
Due: none

Biome
  .lintstagedrc
  biome.json
  cypress/e2e/multitimer.cy.ts
  index.html
  package.json
  src/App.vue
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainInfo.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/composables/useEtaData.ts
  src/helper.ts
  src/helperLinReg.ts
  src/router.ts
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Biome
  .github/workflows/check.yml
  .github/workflows/update.yml
  .lintstagedrc
  .prettierignore
  .prettierrc.json
  biome.json
  cypress/e2e/multitimer.cy.ts
  eslint.config.ts
  index.html
  package.json
  scripts/update.sh
  src/App.vue
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainInfo.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/composables/useEtaData.ts
  src/helper.ts
  src/helperLinReg.ts
  src/router.ts
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Biome
  .lintstagedrc
  biome.json
  cypress/e2e/multitimer.cy.ts
  index.html
  src/App.vue
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainInfo.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/composables/useEtaData.ts
  src/helper.ts
  src/helperLinReg.ts
  src/router.ts
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache
