Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

StatsTable.vue fix startTimer for target = unknown
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

vite.config.ts : chunkSizeWarningLimit
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Feature: Edit Data Row
  cypress/e2e/eta.cy.ts
  src/__tests__/helper.spec.ts
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/helper.ts
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Chart: fix speed and markline
  src/components/EtaChart.vue
Due: npx prettier --cache --write, eslint --cache

ActionsBlock: get unitInitial from App
  src/App.vue
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Use GitHub Action to run SonarQube and provide coverage report
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

EtaChart.vue: skip first empty row for speed
  src/components/EtaChart.vue
Due: npx prettier --cache --write, eslint --cache

minor labels
  cypress/e2e/eta.cy.ts
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

MainETA: Intro text
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

MultiTimer: add reset button
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Create LICENSE
  LICENSE
Due: none

UI minor
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

eslint: require spacing before functions
  .eslintrc.js
  src/App.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update .eslintrc.js
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

Added Info Page
  src/App.vue
  src/components/MainInfo.vue
  src/components/__tests__/MainInfo.spec.ts
  src/router.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix broken tests
  src/components/__tests__/DataTable.spec.ts.old
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

Drop mode selection and add more icons
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/SelectMode.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

fix: emit plus-1 by renaming (Extraneous non-emits event listeners)
  src/components/ActionsBlock.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

more unit tests for Tooltip Speed
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

router.ts: fix [Vue Router warn]: Component "default" in record with path is defined using "defineAsyncComponent()"
  src/router.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MultiTimer: replace unit input by suffix d,h,m,s and support 1:30 format
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
  src/components/__tests__/MainMultiTimer.spec.ts
Due: npx prettier --cache --write, eslint --cache

Update publish_to_web.sh
  scripts/publish_to_web.sh
Due: none

add html IDs
  src/components/ActionsBlock.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

fix decimal input
  cypress/e2e/eta.cy.ts
  src/components/InputItems.vue
Due: npx prettier --cache --write, eslint --cache

button layout tuning
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

moved to entorb.net/eta
  scripts/publish_to_web.sh
  src/App.vue
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update FooterText.vue
  src/components/FooterText.vue
Due: npx prettier --cache --write, eslint --cache

min/item
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

first E2E tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/plus-1.cy.ts
  cypress/e2e/spec.cy.ts
Due: npx prettier --cache --write, eslint --cache

rename ETA -> Remaining-Timer
  src/App.vue
  src/components/MainInfo.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Remaining time as v-card
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Update main.ts
  src/main.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: total speed not updated
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, eslint --cache

UI tuning
  src/components/ActionsBlock.vue
  src/components/FooterText.vue
  src/components/InputTargetValue.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
