Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

packages pnpm up -L and drop eslint-plugin-vitest
  eslint.config.ts
  package.json
  pnpm-workspace.yaml
Due: npx prettier --cache --write, eslint --cache

packages pnpm up -L and drop eslint-plugin-vitest
  eslint.config.ts
Due: npx prettier --cache --write, eslint --cache

pnpm install --config.minimumReleaseAge=0
  .github/workflows/check.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

SonarSource/sonarqube-scan-action@v8
  .github/workflows/check.yml
Due: npx prettier --cache --write

pnpm install with cooldown
  .github/workflows/check.yml
  cspell-words.txt
  package.json
  pnpm-workspace.yaml
Due: npx prettier --cache --write

pnpm install with cooldown
  .github/workflows/check.yml
  cspell-words.txt
Due: npx prettier --cache --write

update
  package.json
Due: npx prettier --cache --write

drop pnpm install with cooldown
  .github/workflows/check.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

pnpm add -D esbuild
  package.json
Due: npx prettier --cache --write

add knip
  src/helperLinReg.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

pnpm/action-setup@v6
  .github/workflows/check.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

add knip
  .github/workflows/check.yml
  knip.json
  src/helperLinReg.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

add knip
  .github/workflows/check.yml
  knip.json
  package.json
  src/helperLinReg.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

packages
  package.json
  pnpm-workspace.yaml
Due: npx prettier --cache --write

cleanup
  .lintstagedrc
  AGENTS.md
  eslint.config.ts
Due: npx prettier --cache --write, eslint --cache

cleanup
  .lintstagedrc
Due: none

Update biome.json
  biome.json
Due: npx prettier --cache --write

Update package.json
  package.json
Due: npx prettier --cache --write

Update check.yml
  .github/workflows/check.yml
Due: npx prettier --cache --write

package update
  biome.json
Due: npx prettier --cache --write

package update
  biome.json
  package.json
Due: npx prettier --cache --write

Lock
  pnpm-lock.yaml
Due: none

doc
  AGENTS.md
  cspell-words.txt
Due: npx prettier --cache --write

Add toggle for weightedReg
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/StatsTable.vue
  src/composables/useEtaData.ts
  src/utils/icons.ts
Due: npx prettier --cache --write, eslint --cache

fix pnpm audit findings
  package.json
  pnpm-workspace.yaml
Due: npx prettier --cache --write

fix pnpm audit findings
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx prettier --cache --write

package update and pnpm audit findings
  package.json
Due: npx prettier --cache --write
