Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

removed simple mode / target = undefined
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/EtaChart.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/SelectMode.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

fixing eslint and prettiert findings
  cypress.config.ts
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/App.vue
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainMultiTimer.spec.ts
  src/helper.ts
  src/plugins/index.ts
  src/vite-env.d.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Feature: Edit Data Row
  cypress/e2e/eta.cy.ts
  src/__tests__/helper.spec.ts
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/helper.ts
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Drop mode selection and add more icons
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/SelectMode.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Update eslint and prettier, delete husky. 14 Lint problems pending
  .eslintrc.js
  .husky/pre-commit
  00_new_eslint.config.js
  00_new_eslint9.txt
  eslint.config.js
Due: npx prettier --cache --write, eslint --cache

docs
  docs/ideas.md
  docs/issues.md
  docs/tools.md
  docs/vorlagen.md
  docs/vue-how-to.md
Due: npx prettier --cache --write

button layout tuning
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

fix decimal input
  cypress/e2e/eta.cy.ts
  src/components/InputItems.vue
Due: npx prettier --cache --write, eslint --cache

Desktop: chart right of data table
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

min/item
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

Drop Unit Select and default to min
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/SelectUnit.vue
  src/components/StatsTable.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/SelectUnit.spec.ts
  src/components/__tests__/StatsTable.spec.ts
Due: npx prettier --cache --write, eslint --cache

Update Cypress
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

Recreate eslint.config.js via npx eslint --init
  eslint.config.js
  tsconfig.node.json
Due: npx prettier --cache --write, eslint --cache

Migrate to pnpm
  pnpm-workspace.yaml
Due: none

Current value as label
  src/components/InputItems.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

DataTable.vue: migrate to v-data-table
  src/components/DataTable.vue
Due: npx prettier --cache --write, eslint --cache

ai suggestions for project setup
  tsconfig.app.json
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Update project setup from multi-meter
  cypress/tsconfig.json
  env.d.ts
  src/helper.ts
  src/plugins/vuetify.ts
  src/utils/icons.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.ts
  vitest.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

add colors, icons and use non-inverted speed axis in chart
  src/colors.ts
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Unit tests for StatsTable
  src/components/StatsTable.vue
  src/components/__tests__/StatsTable.spec.ts
Due: npx prettier --cache --write, eslint --cache

Scripts
  scripts/copy-modified-files.ps1
  scripts/deploy.sh
Due: none

fix failing cypress tests
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

GH Action Check: prevent Concurrency
  .github/workflows/check.yml
Due: npx prettier --cache --write

Lock
  pnpm-lock.yaml
Due: none

prettier --log-level silent
  package.json
Due: npx prettier --cache --write

Packages
  package.json
Due: npx prettier --cache --write

Update Vite, etc.
  package.json
Due: npx prettier --cache --write

fix GH action update.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

GH Action checkout@v6
  .github/workflows/check.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

Update package.json
  package.json
Due: npx prettier --cache --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Auto-Update Vite, etc.
  package.json
Due: npx prettier --cache --write
