Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

gitleaks to GH Action
  .github/workflows/check.yml
  prek.toml
Due: npx prettier --cache --write

gitleaks cleanup
  .github/workflows/check.yml
Due: npx prettier --cache --write

yml lint
  cspell.config.yaml
Due: none

cspell.config.yam
  cspell.config.yaml
Due: none

yml lint
  .github/dependabot.yml
  .github/workflows/check.yml
  pnpm-workspace.yaml
Due: npx prettier --cache --write

Packages
  package.json
  pnpm-workspace.yaml
Due: npx prettier --cache --write

Lock
  pnpm-lock.yaml
Due: none

Documentation
  AGENTS.md
  README.md
  cspell-words.txt
Due: npx prettier --cache --write

Tools
  .gitattributes
  .github/dependabot.yml
  .github/workflows/check.yml
  .github/workflows/update.yml
  .gitignore
  .rumdl.toml
  .vscode/settings.json
  biome.json
  cspell.config.yaml
  eslint.config.ts
  knip.json
  prek.toml
  scripts/chk_js_dead.sh
  scripts/chk_js_format.sh
  scripts/chk_js_lint.sh
  scripts/chk_js_package_audit.sh
  scripts/chk_js_test.sh
  scripts/chk_js_types.sh
  scripts/chk_md_lint.sh
  scripts/chk_pre-commit.sh
  scripts/chk_spelling.sh
  scripts/chk_ym_lint.sh
  scripts/deploy.sh
  scripts/run_checks.sh
  scripts/run_js_test_cov.sh
  scripts/update.sh
  sonar-project.properties
Due: npx prettier --cache --write, eslint --cache

rumdl and ryl as prek hooks
  .github/workflows/check.yml
  .ryl.toml
  prek.toml
  scripts/chk_md_lint.sh
Due: npx prettier --cache --write

prek.toml
  prek.toml
Due: none

prek: add shfmt
  cspell-words.txt
  prek.toml
  scripts/chk_js_dead.sh
  scripts/chk_js_format.sh
  scripts/chk_js_lint.sh
  scripts/chk_js_package_audit.sh
  scripts/chk_js_test.sh
  scripts/chk_js_types.sh
  scripts/chk_md_lint.sh
  scripts/chk_pre-commit.sh
  scripts/chk_spelling.sh
  scripts/chk_ym_lint.sh
  scripts/run_checks.sh
  scripts/update.sh
Due: none

Code Format: single quotes
  .eslintrc.js
  src/App.vue
  src/components/InputTargetValue.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

index.html
  index.html
  index1.html
  index2.html
Due: npx prettier --cache --write

Config Prettier, ESlint
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

initial
  .browserslistrc
  .eslintrc.js
  src/App.vue
  src/components/HelloWorld.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Run Prettier
  src/components/HelloWorld.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Create InputTargetValue.vue
  src/App.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

support target = 0
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

eslint + prettier findings
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
  tsconfig.json
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

reduce build size by manually including the used icons only
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

helperDateToString
  src/components/DataTable.vue
  src/components/helper.ts
Due: npx prettier --cache --write, eslint --cache

eslint missing package
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

fixing remaining time
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

prettier rules to vue default template
  .eslintrc.js
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsBlock.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/helperLinReg.spec.ts
  src/components/helper.ts
  src/plugins/vuetify.ts
  vite.config.ts
  vitest.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

eslint: rename components
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/StatsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

eslint findings
  src/components/Stats.vue
  src/components/helperLinReg.ts
  src/plugins/index.ts
Due: npx prettier --cache --write, eslint --cache

fixing doc-root problem in build
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Number Input tuned for mobile devices
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

Create types.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Delete All via DataTable Header
  src/App.vue
  src/components/DataTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

minor layout
  src/App.vue
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update App.vue
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Added DataTable and TooltipSpeed
  src/App.vue
  src/components/DataTable.vue
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Minor
  src/components/DataTable.vue
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

Target and Value save and load from local storage
  src/App.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix tests add: import { describe, it, expect } from 'vitest'
  src/components/DataTable.spec.ts
  src/components/helper.spec.ts
  src/components/helperLinReg.spec.ts
Due: npx prettier --cache --write, eslint --cache

fix input to support "," also on iOS
  src/components/InputTargetValue.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

testcases to subdir
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/helper.spec.ts
  src/components/__tests__/helperLinReg.spec.ts
Due: npx prettier --cache --write, eslint --cache
