Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

Improved project setup files
  tsconfig.app.json
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Improved project setup files
  eslint.config.ts
  package.json
  tsconfig.app.json
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

PWA-1
  cspell-words.txt
  env.d.ts
  index.html
  package.json
Due: npx prettier --cache --write, eslint --cache

PWA-1
  env.d.ts
  index.html
Due: npx prettier --cache --write, eslint --cache

Add files via upload
  public/site.webmanifest
Due: none

Update cspell-words.txt
  cspell-words.txt
Due: none

Update package.json
  package.json
Due: npx prettier --cache --write

Migrate to pnpm
  .github/workflows/check.yml
  .github/workflows/update.yml
  pnpm-workspace.yaml
  scripts/deploy.sh
Due: npx prettier --cache --write

Update .gitignore
  .gitignore
Due: none

Update project setup from multi-meter
  .editorconfig
  .gitignore
  .prettierrc.json
  .vscode/settings.json
  cypress/tsconfig.json
  env.d.ts
  eslint.config.ts
  scripts/copy-modified-files.ps1
  src/helper.ts
  src/plugins/vuetify.ts
  src/utils/icons.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.ts
  vitest.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update README.md
  README.md
Due: npx prettier --cache --write

build configs
  eslint.config.ts
  tsconfig.app.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.d.ts
  vite.config.ts
  vitest.config.d.ts
Due: npx prettier --cache --write, eslint --cache

eslintV2
  .prettierignore
  .prettierrc.json
  eslint.config.ts
Due: npx prettier --cache --write, eslint --cache

ai suggestions for project setup
  tsconfig.app.json
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

apply ESLint V2
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  index.html
  index1.html
  index2.html
  src/App.vue
  src/AppEta.vue
  src/AppMultiTimer.vue
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Create pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Update update.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

Create cspell.config.yaml
  cspell.config.yaml
  cspell.json
Due: npx prettier --cache --write

fix broken tests
  src/components/__tests__/DataTable.spec.ts.old
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

def central UnitType
  src/App.vue
  src/components/DataTable.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

refactoring and unit tests for App.vue
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/helper.ts
  src/helperLinReg.ts
  src/types.ts
  tsconfig.app.json
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Create LICENSE
  LICENSE
Due: none

add ECharts
  src/components/EtaChart.vue
  src/components/MainEta.vue
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

Minor
  src/components/DataTable.vue
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

eslint: require spacing before functions
  .eslintrc.js
  src/App.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

testcases to subdir
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/helper.spec.ts
  src/components/__tests__/helperLinReg.spec.ts
Due: npx prettier --cache --write, eslint --cache

small UI tuning
  src/App.vue
  src/AppEta.vue
  src/AppMultiTimer.vue
  src/components/ActionsBlock.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update DataTable.vue to <script setup
  src/components/DataTable.vue
Due: npx prettier --cache --write, eslint --cache

add html IDs
  src/components/ActionsBlock.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

MainMultiTimer.vue: use UnitType
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

Update tsconfig.app.json
  tsconfig.app.json
Due: npx prettier --cache --write

add icons dir
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Add vitest for unit tests and adjusting eslint
  .eslintrc.js
  src/components/helper.spec.js
  vitest.config.js
Due: npx prettier --cache --write, eslint --cache

Update ActionsBlock.vue to <script setup
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, eslint --cache

fix: read local storage data broken: data.value was missing
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

public
  public/.htaccess
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/apple-touch-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon.ico
  public/icons/timer-outline-custom.png
  public/icons/timer-outline.svg
Due: none
