Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

split InputItemsAndTarget.vue into smaller files
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputItemsAndTarget.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/SelectMode.vue
  src/components/__tests__/InputItemsAndTarget.spec.ts.old
Due: npx prettier --cache --write, eslint --cache

UI minor
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

fix: target overwritten when switching tabs
  src/components/MainEta.vue
  src/components/SelectMode.vue
Due: npx prettier --cache --write, eslint --cache

fix: Code scanning alerts 1-3
  src/__tests__/helper.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

isMobile check
  src/components/MainMultiTimer.vue
  vitest.config.ts
  vitest.setup.ts
Due: npx prettier --cache --write, eslint --cache

StatsTable add itemsLast and change ordering
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Usage Stats
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/__tests__/FooterText.spec.ts.old
  src/helper.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

ActionsBlock -> SelectUnit
  src/components/ActionsBlock.vue
  src/components/MainEta.vue
  src/components/SelectUnit.vue
  src/components/__tests__/SelectUnit.spec.ts
Due: npx prettier --cache --write, eslint --cache

InputTarget refactoring
  src/components/InputTarget.vue
Due: npx prettier --cache --write, eslint --cache

Mode Down as default -> target=0
  src/components/MainEta.vue
  src/components/SelectMode.vue
Due: npx prettier --cache --write, eslint --cache

helperRunningOnProd
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

deleteAllData shall not delete target
  src/components/MainEta.vue
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

Update MainInfo.vue
  src/components/MainInfo.vue
Due: npx prettier --cache --write, eslint --cache

helperRunningOnMobile
  src/components/MainMultiTimer.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update MainEta.spec.ts
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

UX tipps by CT: no huge header, select mode
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/ActionsBlock.vue
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Update FooterText.vue
  src/components/FooterText.vue
Due: npx prettier --cache --write, eslint --cache

vite.config.ts : chunkSizeWarningLimit
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

EtaChart.vue: set inverse based on target instead of slope
  src/components/EtaChart.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

prepare for ESLint V9
  00_new_eslint.config.js
  00_new_eslint9.txt
Due: npx prettier --cache --write, eslint --cache

MultiTimer: add reset button
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

MainInfo.vue: Discalimer and clearLocalStorage()
  src/components/MainInfo.vue
Due: npx prettier --cache --write, eslint --cache

Update title and description at index, Info and PWA Manifest
  src/components/MainInfo.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

EtaChart.vue: skip first empty row for speed
  src/components/EtaChart.vue
Due: npx prettier --cache --write, eslint --cache

fix broken E2E tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
Due: npx prettier --cache --write, eslint --cache

router.ts: lazy loading of tabs via defineAsyncComponent
  src/router.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MainEta: lazy loading of EtaChart via defineAsyncComponent
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

MainMultiTimer.vue: use UnitType
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

EtaChart: add markLine of itemsPerSec (source: StatsTable)
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Create LICENSE
  LICENSE
Due: none

E2E tests: using select options names and some more tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
Due: npx prettier --cache --write, eslint --cache

SelectUnit.vue: use UnitType
  src/components/SelectUnit.vue
Due: npx prettier --cache --write, eslint --cache

StatsTable.vue fix startTimer for target = unknown
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

fix failing cypress tests
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

router.ts: fix [Vue Router warn]: Component "default" in record with path is defined using "defineAsyncComponent()"
  src/router.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

rename ETA -> Remaining-Timer
  src/App.vue
  src/components/MainInfo.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

minor labels
  cypress/e2e/eta.cy.ts
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Update eslint and prettier, delete husky. 14 Lint problems pending
  .eslintrc.js
  .husky/pre-commit
  00_new_eslint.config.js
  00_new_eslint9.txt
  eslint.config.js
Due: npx prettier --cache --write, eslint --cache

button color etc
  src/components/DataTable.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache
