Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

check.yml
  .github/workflows/check.yml
Due: npx prettier --cache --write

Update check.yml
  .github/workflows/check.yml
Due: npx prettier --cache --write

biome.json
  biome.json
Due: npx prettier --cache --write

Update pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: none

cspell.config.yaml
  cspell.config.yaml
Due: none

Update cspell.config.yaml
  cspell.config.yaml
Due: none

Dependabot -> Renovate
  .github/dependabot.yml
  .github/workflows/check.yml
  .github/workflows/update.yml.txt
  renovate.json
Due: npx prettier --cache --write

.pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update scripts
  scripts/chk_js_dead.sh
  scripts/chk_js_format.sh
  scripts/chk_js_lint.sh
  scripts/chk_js_package_audit.sh
  scripts/chk_js_test.sh
  scripts/chk_js_types.sh
  scripts/chk_pre-commit.sh
  scripts/deploy.sh
  scripts/run_checks.sh
  scripts/run_e2e.sh
  scripts/run_js_test_cov.sh
  scripts/run_spelling.sh
  scripts/update.sh
Due: none

remove unplugin-fonts/vite which has sec issue
  src/main.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update packages
  package.json
  pnpm-lock.yaml
Due: npx prettier --cache --write

Update check.yml: weekly run
  .github/workflows/check.yml
Due: npx prettier --cache --write

Update renovate.json
  renovate.json
Due: npx prettier --cache --write

Update packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
