Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Add Vue Router to merge ETA and MultiTimer
  src/App.vue
  src/AppEta.vue
  src/components/ActionsBlock.vue
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/mainEta.ts
  src/router.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

StatsTable add itemsLast and change ordering
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

vite.config.ts : chunkSizeWarningLimit
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

helperRunningOnProd
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update FooterText.vue
  src/components/FooterText.vue
Due: npx prettier --cache --write, eslint --cache

helperRunningOnMobile
  src/components/MainMultiTimer.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

index.html
  index.html
  index1.html
  index2.html
Due: npx prettier --cache --write

StatsTable.vue fix startTimer for target = unknown
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

EtaChart: add markLine of itemsPerSec (source: StatsTable)
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Update .eslintrc.js
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

fixing remaining time
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

Refactoring and cleanup
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Code Format: single quotes
  .eslintrc.js
  src/App.vue
  src/components/InputTargetValue.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

InputTarget refactoring
  src/components/InputTarget.vue
Due: npx prettier --cache --write, eslint --cache

fix: timerInterval not using NodeJS type
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Create 481151__matrixxx__cow-bells-01.mp3
  public/audio/481151__matrixxx__cow-bells-01.mp3
Due: none

Added Info Page
  src/App.vue
  src/components/MainInfo.vue
  src/components/__tests__/MainInfo.spec.ts
  src/router.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

play sound upon timer end
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

prepare for ESLint V9
  00_new_eslint.config.js
  00_new_eslint9.txt
Due: npx prettier --cache --write, eslint --cache

isMobile check
  src/components/MainMultiTimer.vue
  vitest.config.ts
  vitest.setup.ts
Due: npx prettier --cache --write, eslint --cache

EtaChart.vue: set inverse based on target instead of slope
  src/components/EtaChart.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

StatsBlock -> StatsTable and added time since last
  src/App.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

E2E tests: using select options names and some more tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
Due: npx prettier --cache --write, eslint --cache

fix: target overwritten when switching tabs
  src/components/MainEta.vue
  src/components/SelectMode.vue
Due: npx prettier --cache --write, eslint --cache

Cypress initial
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
Due: npx prettier --cache --write, eslint --cache

split InputItemsAndTarget.vue into smaller files
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputItemsAndTarget.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/SelectMode.vue
  src/components/__tests__/InputItemsAndTarget.spec.ts.old
Due: npx prettier --cache --write, eslint --cache

router.ts: fix [Vue Router warn]: Component "default" in record with path is defined using "defineAsyncComponent()"
  src/router.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update MainInfo.vue
  src/components/MainInfo.vue
Due: npx prettier --cache --write, eslint --cache

sync project setup from testing-tutorial via npm init vue@latest
  .eslintrc.js
  env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.ts
  vitest.config.js
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

fix input to support "," also on iOS
  src/components/InputTargetValue.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Create InputTargetValue.vue
  src/App.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

store speed in data
  src/App.vue
  src/components/DataTable.vue
  src/components/StatsTable.vue
  src/components/__tests__/DataTable.spec.ts.old
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update vite.config.ts
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

local serving of roboto font
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
