Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

ActionsBlock -> SelectUnit
  src/components/ActionsBlock.vue
  src/components/MainEta.vue
  src/components/SelectUnit.vue
  src/components/__tests__/SelectUnit.spec.ts
Due: npx prettier --cache --write, eslint --cache

StatsTable refactoring to fix bugs and improve readability
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Delete HelloWorld.vue
  src/components/HelloWorld.vue
Due: npx prettier --cache --write, eslint --cache

MainInfo.vue: Discalimer and clearLocalStorage()
  src/components/MainInfo.vue
Due: npx prettier --cache --write, eslint --cache

Update App.vue: footer
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Config Prettier, ESlint
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

fix tests add: import { describe, it, expect } from 'vitest'
  src/components/DataTable.spec.ts
  src/components/helper.spec.ts
  src/components/helperLinReg.spec.ts
Due: npx prettier --cache --write, eslint --cache

new favicon
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Allow for missing target (undefined) and naming of components
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

eslint findings
  src/components/Stats.vue
  src/components/helperLinReg.ts
  src/plugins/index.ts
Due: npx prettier --cache --write, eslint --cache

MainEta: lazy loading of EtaChart via defineAsyncComponent
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

multitimer: read recend timers from local storage
  cypress/e2e/helper-cy.ts
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

isMobile check
  src/components/MainMultiTimer.vue
  vitest.config.ts
  vitest.setup.ts
Due: npx prettier --cache --write, eslint --cache

vite.config.ts : chunkSizeWarningLimit
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

add ECharts
  src/components/EtaChart.vue
  src/components/MainEta.vue
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

more unit tests for Tooltip Speed
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

refactoring StatsTable using ref and computed
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

plus-1 for countdown mode
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MultiTimer -> Multi-Timer
  src/components/MainMultiTimer.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Update DataTable.vue to <script setup
  src/components/DataTable.vue
Due: npx prettier --cache --write, eslint --cache

minor layout
  src/App.vue
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix broken tests
  src/components/__tests__/DataTable.spec.ts.old
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

fix: emit plus-1 by renaming (Extraneous non-emits event listeners)
  src/components/ActionsBlock.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

helperDateToString
  src/components/DataTable.vue
  src/components/helper.ts
Due: npx prettier --cache --write, eslint --cache

UnitTests for math and some minor fixes
  src/components/DataTable.spec.js
  src/components/DataTable.vue
  src/components/Stats.vue
  src/components/helper.spec.js
  src/components/helper.spec.ts
  src/components/helperLinReg.spec.ts
  src/components/helperLinReg.ts
Due: npx prettier --cache --write, eslint --cache

fix input to support "," also on iOS
  src/components/InputTargetValue.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

deleteAllData shall not delete target
  src/components/MainEta.vue
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

Update cypress.config.ts
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

husky und list-staged
  .husky/pre-commit
  .lintstagedrc
Due: none

refactoring and unit tests for App.vue
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/helper.ts
  src/helperLinReg.ts
  src/types.ts
  tsconfig.app.json
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

UI minor
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Remaining time as v-card
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

fix: read local storage data broken: data.value was missing
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

eslint-config-google
  .eslintrc.js
  env.d.ts
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Fix (valid) .spec.ts file breaks vite build
  tsconfig.app.json
Due: npx prettier --cache --write

Update tsconfig.app.json
  tsconfig.app.json
Due: npx prettier --cache --write

fix: target change did not properly trigger updateStats()
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

fixing doc-root problem in build
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
