Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint, npm run spell

.lintstagedrc:

{
  "*.{js,ts,vue,json,yml,css,html,md}": "npm run format",
  "src/**/*.{js,ts,vue}": "npm run lint",
  "*": "npm run spell"
}

Update package-lock.json
  package-lock.json
Due: npm run format, npm run spell

MultiTimer: add reset button
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npm run format, npm run lint, npm run spell

Update packages
  package.json
Due: npm run format, npm run spell

Update doc
  README.md
  doc/tools.md
Due: npm run format, npm run spell

Add .gitattributes
  .gitattributes
Due: npm run spell

prepare for ESLint V9
  00_new_eslint.config.js
  00_new_eslint9.txt
Due: npm run format, npm run spell

Update .gitattributes
  .gitattributes
Due: npm run spell

fix failing cypress tests
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
Due: npm run format, npm run lint, npm run spell

Update Cypress
  cypress.config.ts
  package.json
Due: npm run format, npm run spell

npm audit fix --force to update vite and vitest
  package.json
Due: npm run format, npm run spell

Update all packages via ncu -u
  package.json
Due: npm run format, npm run spell

update echarts
  package.json
Due: npm run format, npm run spell

fixing eslint and prettiert findings
  cypress.config.ts
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/App.vue
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainMultiTimer.spec.ts
  src/helper.ts
  src/plugins/index.ts
  src/vite-env.d.ts
Due: npm run format, npm run lint, npm run spell

Update vue
  package.json
Due: npm run format, npm run spell

Update eslint and prettier, delete husky. 14 Lint problems pending
  .eslintrc.js
  .husky/pre-commit
  00_new_eslint.config.js
  00_new_eslint9.txt
  eslint.config.js
  package.json
Due: npm run format, npm run spell

Recreate eslint.config.js via npx eslint --init
  eslint.config.js
  package.json
  tsconfig.node.json
Due: npm run format, npm run spell

updating fonts
  package.json
Due: npm run format, npm run spell

Update vite.config.ts
  vite.config.ts
Due: npm run format, npm run spell

Fixing SonarQube findings
  src/components/EtaChart.vue
  src/helper.ts
  src/plugins/vuetify.ts
  tsconfig.app.json
Due: npm run format, npm run lint, npm run spell

Update eta.cy.ts
  cypress/e2e/eta.cy.ts
Due: npm run format, npm run spell

minor info text changes
  index.html
  src/components/MainEta.vue
  src/components/MainInfo.vue
  vite.config.ts
Due: npm run format, npm run lint, npm run spell

removed simple mode / target = undefined
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/EtaChart.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/SelectMode.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainEta.spec.ts
Due: npm run format, npm run lint, npm run spell

Update deploy.sh
  scripts/deploy.sh
  scripts/publish_to_web.sh
Due: npm run spell

update npm scripts
  package.json
Due: npm run format, npm run spell

Drop mode selection and add more icons
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/SelectMode.vue
  src/plugins/vuetify.ts
Due: npm run format, npm run lint, npm run spell

Drop Unit Select and default to min
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/SelectUnit.vue
  src/components/StatsTable.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/SelectUnit.spec.ts
  src/components/__tests__/StatsTable.spec.ts
Due: npm run format, npm run lint, npm run spell

Create package-lock.json
  package-lock.json
Due: npm run format, npm run spell

minor labels
  cypress/e2e/eta.cy.ts
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npm run format, npm run lint, npm run spell

update doc
  README.md
  doc/ideas.md
  doc/tools.md
  doc/vue-how-to.md
Due: npm run format, npm run spell

version 0.2.0
  package.json
Due: npm run format, npm run spell

plus1 only after first row
  src/components/MainEta.vue
Due: npm run format, npm run lint, npm run spell

button color etc
  src/components/DataTable.vue
  src/components/MainEta.vue
Due: npm run format, npm run lint, npm run spell
