Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

build prior to publish
  scripts/publish_to_web.sh
Due: none

UnitTests for math and some minor fixes
  src/components/DataTable.spec.js
  src/components/DataTable.vue
  src/components/Stats.vue
  src/components/helper.spec.js
  src/components/helper.spec.ts
  src/components/helperLinReg.spec.ts
  src/components/helperLinReg.ts
Due: npx prettier --cache --write, eslint --cache

play sound upon timer end
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

eslint + prettier findings
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
  tsconfig.json
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

helperDateToString
  src/components/DataTable.vue
  src/components/helper.ts
Due: npx prettier --cache --write, eslint --cache

Update App.vue: footer
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Minor
  src/components/DataTable.vue
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

Added DataTable and TooltipSpeed
  src/App.vue
  src/components/DataTable.vue
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

public
  public/.htaccess
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/apple-touch-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon.ico
  public/icons/timer-outline-custom.png
  public/icons/timer-outline.svg
Due: none

Code Format: single quotes
  .eslintrc.js
  src/App.vue
  src/components/InputTargetValue.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

refactoring StatsTable using ref and computed
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Update InputTargetValue.vue to <script setup
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

fix tests add: import { describe, it, expect } from 'vitest'
  src/components/DataTable.spec.ts
  src/components/helper.spec.ts
  src/components/helperLinReg.spec.ts
Due: npx prettier --cache --write, eslint --cache

Run Prettier
  src/components/HelloWorld.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

sync project setup from testing-tutorial via npm init vue@latest
  .eslintrc.js
  env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.ts
  vitest.config.js
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

Refactoring and cleanup
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fixing remaining time
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

fix: timerInterval not using NodeJS type
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

testcases to subdir
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/helper.spec.ts
  src/components/__tests__/helperLinReg.spec.ts
Due: npx prettier --cache --write, eslint --cache

Create 481151__matrixxx__cow-bells-01.mp3
  public/audio/481151__matrixxx__cow-bells-01.mp3
Due: none

Number Input tuned for mobile devices
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

Fix (valid) .spec.ts file breaks vite build
  tsconfig.app.json
Due: npx prettier --cache --write

target to type Number -> number
  src/App.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Config Prettier, ESlint
  .eslintrc.js
  .prettierrc.json
Due: npx prettier --cache --write, eslint --cache

allow for reset of target
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

Improving .lintstagedrc
  .lintstagedrc
Due: none

plus-1 for countdown mode
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update StatsTable.vue to <script setup
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

add icons dir
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

index.html
  index.html
  index1.html
  index2.html
Due: npx prettier --cache --write

Update publish_to_web.sh: remove format, lint, spell for now
  scripts/publish_to_web.sh
Due: none

fixing doc-root problem in build
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

eslint: rename components
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/StatsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update App.vue
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

unit via select
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/components/__tests__/helper.spec.ts
  src/components/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache
