Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Usage Stats
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/__tests__/FooterText.spec.ts.old
  src/helper.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

eslint: rename components
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/StatsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update FooterText.vue
  src/components/FooterText.vue
Due: npx prettier --cache --write, eslint --cache

UX tipps by CT: no huge header, select mode
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/ActionsBlock.vue
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

eslint + prettier findings
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
  tsconfig.json
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update cypress.config.ts
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

Created Multitimer as index2.html
  src/AppMultiTimer.vue
  src/components/MultiTimer.vue
  src/mainMultiTimer.ts
  src/plugins/vuetify.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

refactor: value -> items
  cypress/e2e/eta.cy.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/plus-1.cy.ts
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainEta.spec.ts
  src/helper.ts
  src/helperLinReg.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

UnitTests for math and some minor fixes
  src/components/DataTable.spec.js
  src/components/DataTable.vue
  src/components/Stats.vue
  src/components/helper.spec.js
  src/components/helper.spec.ts
  src/components/helperLinReg.spec.ts
  src/components/helperLinReg.ts
Due: npx prettier --cache --write, eslint --cache

UI: text renaming and stats: merging values and percent into one row
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Target and Value save and load from local storage
  src/App.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

refactoring StatsTable using ref and computed
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

index.html
  index.html
  index1.html
  index2.html
Due: npx prettier --cache --write

more unit tests for Tooltip Speed
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

reduce build size by manually including the used icons only
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Minor
  src/components/DataTable.vue
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

fix: target overwritten when switching tabs
  src/components/MainEta.vue
  src/components/SelectMode.vue
Due: npx prettier --cache --write, eslint --cache

playSound to helper
  src/components/StatsTable.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: broken unit select
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, eslint --cache

Allow for missing target (undefined) and naming of components
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MainMultiTimer.vue: use UnitType
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

small UI tuning
  src/App.vue
  src/AppEta.vue
  src/AppMultiTimer.vue
  src/components/ActionsBlock.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

StatsTable refactoring to fix bugs and improve readability
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Add vitest for unit tests and adjusting eslint
  .eslintrc.js
  src/components/helper.spec.js
  vitest.config.js
Due: npx prettier --cache --write, eslint --cache

calcSpeed as function
  src/App.vue
  src/components/DataTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

prettier rules to vue default template
  .eslintrc.js
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsBlock.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/helperLinReg.spec.ts
  src/components/helper.ts
  src/plugins/vuetify.ts
  vite.config.ts
  vitest.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: eslint: Cannot find namespace 'NodeJS'.ts(2503)
  tsconfig.app.json
Due: npx prettier --cache --write

Mode Down as default -> target=0
  src/components/MainEta.vue
  src/components/SelectMode.vue
Due: npx prettier --cache --write, eslint --cache

Run Prettier
  src/components/HelloWorld.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update TooltipSpeed.vue to <script setup
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, eslint --cache

Update title and description at index, Info and PWA Manifest
  src/components/MainInfo.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Unit Tests for MultiTimer
  src/__tests__/helper.spec.ts
  src/components/MainMultiTimer.vue
  src/components/__tests__/MainMultiTimer.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

husky und list-staged
  .husky/pre-commit
  .lintstagedrc
Due: none

Code Format: single quotes
  .eslintrc.js
  src/App.vue
  src/components/InputTargetValue.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update MainEta.spec.ts
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
