Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Config Prettier, ESlint
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

store speed in data
  src/App.vue
  src/components/DataTable.vue
  src/components/StatsTable.vue
  src/components/__tests__/DataTable.spec.ts.old
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fixing remaining time
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

fix: timerInterval not using NodeJS type
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Stats calculated and refactored
  src/components/Stats.vue
  src/components/helper.ts
  src/components/helper_lin_reg.ts
Due: npx prettier --cache --write, eslint --cache

plus-1 button
  src/App.vue
  src/components/Actions.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update App.vue
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

support target = 0
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

moved to entorb.net/eta
  src/App.vue
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix tests add: import { describe, it, expect } from 'vitest'
  src/components/DataTable.spec.ts
  src/components/helper.spec.ts
  src/components/helperLinReg.spec.ts
Due: npx prettier --cache --write, eslint --cache

PWA autoupdate
  tsconfig.json
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

App.vue: minor
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

calcSpeed as function
  src/App.vue
  src/components/DataTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

EtaChart.vue: set inverse based on target instead of slope
  src/components/EtaChart.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

moved audio file from assets to public
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

rename helper functions
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

added eslint-plugin-cypress and fixed findings
  cypress.config.ts
  cypress/.eslintrc.json
  cypress/e2e/eta.cy.ts
  cypress/support/commands.ts
Due: npx prettier --cache --write, eslint --cache

SelectUnit.vue: use UnitType
  src/components/SelectUnit.vue
Due: npx prettier --cache --write, eslint --cache

helperRunningOnProd
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

E2E test add items
  cypress/e2e/eta.cy.ts
Due: npx prettier --cache --write, eslint --cache

apply ESLint V2
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  index.html
  index1.html
  index2.html
  src/App.vue
  src/AppEta.vue
  src/AppMultiTimer.vue
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

minor labels
  cypress/e2e/eta.cy.ts
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Use GitHub Action to run SonarQube and provide coverage report
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

button color etc
  src/components/DataTable.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

README cspell gitignore
  .gitignore
  README.md
  cspell-words.txt
Due: npx prettier --cache --write

Fixing SonarQube findings
  src/components/EtaChart.vue
  src/helper.ts
  src/plugins/vuetify.ts
  tsconfig.app.json
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update vite.config.ts
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

fix decimal input
  cypress/e2e/eta.cy.ts
  src/components/InputItems.vue
Due: npx prettier --cache --write, eslint --cache

Fix SonarQube findings
  src/__tests__/helper.spec.ts
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/FooterText.spec.ts.old
  src/components/__tests__/InputItemsAndTarget.spec.ts.old
  src/components/__tests__/MainInfo.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/helperLinReg.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Add unit tests for multitimer
  src/components/__tests__/MainMultiTimer.spec.ts
Due: npx prettier --cache --write, eslint --cache

ai suggestions for project setup
  tsconfig.app.json
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

chart axis ticks tuning for mobile
  src/components/EtaChart.vue
Due: npx prettier --cache --write, eslint --cache

Feature: Edit Data Row
  cypress/e2e/eta.cy.ts
  src/__tests__/helper.spec.ts
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/helper.ts
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

add colors, icons and use non-inverted speed axis in chart
  src/colors.ts
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update eta.cy.ts
  cypress/e2e/eta.cy.ts
Due: npx prettier --cache --write, eslint --cache

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
