Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

plus1 only after first row
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

Created Multitimer as index2.html
  src/AppMultiTimer.vue
  src/components/MultiTimer.vue
  src/mainMultiTimer.ts
  src/plugins/vuetify.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix failing cypress tests
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

MainInfo.vue: Discalimer and clearLocalStorage()
  src/components/MainInfo.vue
Due: npx prettier --cache --write, eslint --cache

removed simple mode / target = undefined
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/EtaChart.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/SelectMode.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

Remaining time as v-card
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Delete HelloWorld.vue
  src/components/HelloWorld.vue
Due: npx prettier --cache --write, eslint --cache

Added Info Page
  src/App.vue
  src/components/MainInfo.vue
  src/components/__tests__/MainInfo.spec.ts
  src/router.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update MainInfo.vue
  src/components/MainInfo.vue
Due: npx prettier --cache --write, eslint --cache

isMobile check
  src/components/MainMultiTimer.vue
  vitest.config.ts
  vitest.setup.ts
Due: npx prettier --cache --write, eslint --cache

split InputItemsAndTarget.vue into smaller files
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputItemsAndTarget.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/SelectMode.vue
  src/components/__tests__/InputItemsAndTarget.spec.ts.old
Due: npx prettier --cache --write, eslint --cache

store speed in data
  src/App.vue
  src/components/DataTable.vue
  src/components/StatsTable.vue
  src/components/__tests__/DataTable.spec.ts.old
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

moved to entorb.net/eta
  src/App.vue
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

SelectUnit.vue: use UnitType
  src/components/SelectUnit.vue
Due: npx prettier --cache --write, eslint --cache

minor info text changes
  src/components/MainEta.vue
  src/components/MainInfo.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

calcSpeed as function
  src/App.vue
  src/components/DataTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MultiTimer -> Multi-Timer
  src/components/MainMultiTimer.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

add html IDs
  src/components/ActionsBlock.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

rename helper functions
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

local serving of roboto font
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

docs
  README.md
  docs/ideas.md
  docs/issues.md
  docs/tools.md
  docs/vorlagen.md
  docs/vue-how-to.md
Due: npx prettier --cache --write

Update vite.config.ts
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Drop Unit Select and default to min
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/SelectUnit.vue
  src/components/StatsTable.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/SelectUnit.spec.ts
  src/components/__tests__/StatsTable.spec.ts
Due: npx prettier --cache --write, eslint --cache

rename ETA -> Remaining-Timer
  src/App.vue
  src/components/MainInfo.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Unit Tests for MultiTimer
  src/__tests__/helper.spec.ts
  src/components/MainMultiTimer.vue
  src/components/__tests__/MainMultiTimer.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

gitignore, cspell
  .gitattributes
  .gitignore
  cspell-words.txt
  cspell.json
Due: npx prettier --cache --write

added eslint-plugin-cypress and fixed findings
  cypress.config.ts
  cypress/.eslintrc.json
  cypress/e2e/eta.cy.ts
  cypress/support/commands.ts
Due: npx prettier --cache --write, eslint --cache

Update cypress.config.ts
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

helperRunningOnMobile
  src/components/MainMultiTimer.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

small UI tuning
  src/App.vue
  src/AppEta.vue
  src/AppMultiTimer.vue
  src/components/ActionsBlock.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

eslint-config-google
  .eslintrc.js
  env.d.ts
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

prepare for ESLint V9
  00_new_eslint.config.js
  00_new_eslint9.txt
Due: npx prettier --cache --write, eslint --cache

MainMultiTimer.vue: use UnitType
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

Current value as label
  src/components/InputItems.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

add colors, icons and use non-inverted speed axis in chart
  src/colors.ts
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: Code scanning alerts 1-3
  src/__tests__/helper.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix broken E2E tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
Due: npx prettier --cache --write, eslint --cache

Update deploy.sh
  scripts/deploy.sh
  scripts/publish_to_web.sh
Due: none
