Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Add vitest for unit tests and adjusting eslint
  .eslintrc.js
  src/components/helper.spec.js
  vitest.config.js
Due: npx prettier --cache --write, eslint --cache

Added Stats via LinReg and improved layout
  src/App.vue
  src/components/DataTable.vue
  src/components/Stats.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

UnitTests for math and some minor fixes
  src/components/DataTable.spec.js
  src/components/DataTable.vue
  src/components/Stats.vue
  src/components/helper.spec.js
  src/components/helper.spec.ts
  src/components/helperLinReg.spec.ts
  src/components/helperLinReg.ts
Due: npx prettier --cache --write, eslint --cache

Improving .lintstagedrc
  .lintstagedrc
Due: none

plus-1 button
  src/App.vue
  src/components/Actions.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Refactoring and cleanup
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

plus-1 for countdown mode
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Allow for missing target (undefined) and naming of components
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

sync project setup from testing-tutorial via npm init vue@latest
  .eslintrc.js
  env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.ts
  vitest.config.js
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

Stats calculated and refactored
  src/components/Stats.vue
  src/components/helper.ts
  src/components/helper_lin_reg.ts
Due: npx prettier --cache --write, eslint --cache

husky und list-staged
  .husky/pre-commit
  .lintstagedrc
Due: none

unit via select
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/components/__tests__/helper.spec.ts
  src/components/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update tsconfig.app.json
  tsconfig.app.json
Due: npx prettier --cache --write

fix: broken unit select
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, eslint --cache

Update StatsTable.vue to <script setup
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

add icons dir
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Update ActionsBlock.vue to <script setup
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, eslint --cache

play sound upon timer end
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

def central UnitType
  src/App.vue
  src/components/DataTable.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

add PWA to vite
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Delete HelloWorld.vue
  src/components/HelloWorld.vue
Due: npx prettier --cache --write, eslint --cache

StatsBlock -> StatsTable and added time since last
  src/App.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

App.vue: minor
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Fix (valid) .spec.ts file breaks vite build
  tsconfig.app.json
Due: npx prettier --cache --write

refactoring StatsTable using ref and computed
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

moved audio file from assets to public
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

PWA autoupdate
  tsconfig.json
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Update TooltipSpeed.vue to <script setup
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, eslint --cache

moved to entorb.net/eta
  src/App.vue
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update InputTargetValue.vue to <script setup
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

eslint-config-google
  .eslintrc.js
  env.d.ts
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: read local storage data broken: data.value was missing
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update App.vue: footer
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

eslint: require spacing before functions
  .eslintrc.js
  src/App.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

ActionsBlock: get unitInitial from App
  src/App.vue
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: timerInterval not using NodeJS type
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

fix: eslint: Cannot find namespace 'NodeJS'.ts(2503)
  tsconfig.app.json
Due: npx prettier --cache --write

Update DataTable.vue to <script setup
  src/components/DataTable.vue
Due: npx prettier --cache --write, eslint --cache

public
  public/.htaccess
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/apple-touch-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon.ico
  public/icons/timer-outline-custom.png
  public/icons/timer-outline.svg
Due: none

Create 481151__matrixxx__cow-bells-01.mp3
  public/audio/481151__matrixxx__cow-bells-01.mp3
Due: none

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
