Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

Update tsconfig.app.json
  tsconfig.app.json
Due: npx prettier --cache --write

Spellcheck and Markdownlint in GH Action
  .github/workflows/check.yml
  .github/workflows/update.yml
  .gitignore
  .markdownlint-cli2.yaml
  biome.json
  cspell-words.txt
  cspell.config.yaml
  docs/vue-how-to.md
  public/icons/timer-outline.svg
Due: npx prettier --cache --write

Update check.yml
  .github/workflows/check.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

minor config fixes
  biome.json
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

minor config fixes
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Create run_fix_audit.sh
  scripts/run_fix_audit.sh
Due: none

Update update.sh
  scripts/update.sh
Due: none

Packages
  package.json
  pnpm-workspace.yaml
Due: npx prettier --cache --write

Lock
  pnpm-lock.yaml
Due: none

pre-commit to prek
  .github/workflows/check.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

fix pnpm audit findings
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

import viteConfig from './vite.config.ts'
  tsconfig.node.json
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

pnpm audit scripts
  scripts/run_fix_audit.sh
  scripts/update.sh
Due: none

check code in parallel jobs
  .browserslistrc
Due: none

check code in parallel jobs
  .browserslistrc
  .github/workflows/check.yml
  biome.json
  eslint.config.ts
  knip.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/chk_js_dead.sh
  scripts/chk_js_format.sh
  scripts/chk_js_lint.sh
  scripts/chk_js_package_audit.sh
  scripts/chk_js_test.sh
  scripts/chk_js_types.sh
  scripts/chk_md_lint.sh
  scripts/chk_pre-commit.sh
  scripts/chk_spelling.sh
  scripts/run_checks.sh
  scripts/run_fix_audit.sh
Due: npx prettier --cache --write, eslint --cache

update.sh
  biome.json
  package.json
  pnpm-lock.yaml
  scripts/update.sh
Due: npx prettier --cache --write

doc
  AGENTS.md
  README.md
Due: npx prettier --cache --write

update code check scripts and cleanup packages
  .pre-commit-config.yaml
Due: none

update code check scripts and cleanup packages
  .gitignore
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  .rumdl.toml
  biome.json
  package.json
  pnpm-lock.yaml
  scripts/chk_js_dead.sh
  scripts/chk_js_format.sh
  scripts/chk_js_lint.sh
  scripts/chk_js_package_audit.sh
  scripts/chk_js_test.sh
  scripts/chk_js_types.sh
  scripts/chk_md_lint.sh
  scripts/chk_pre-commit.sh
  scripts/chk_spelling.sh
  scripts/copy-modified-files.ps1
  scripts/run_checks.sh
  scripts/run_js_test_cov.sh
Due: npx prettier --cache --write

del .editorconfig
  .editorconfig
Due: none

cspell
  .github/workflows/check.yml
  cspell.config.yaml
  scripts/chk_spelling.sh
Due: npx prettier --cache --write

cspell
  cspell.config.yaml
Due: none

prek pre-commit ordering of .gitignore
  .pre-commit-config.yaml
Due: none

.pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

.pre-commit-config.yaml -> prek.toml
  prek.toml
Due: none

.pre-commit-config.yaml -> prek.toml
  .pre-commit-config.yaml
Due: none

scripts/chk_spelling.sh
  scripts/chk_spelling.sh
Due: none

yml lint
  .github/workflows/check.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write
