Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

SelectUnit.vue: use UnitType
  src/components/SelectUnit.vue
Due: npx prettier --cache --write, eslint --cache

EtaChart.vue: skip first empty row for speed
  src/components/EtaChart.vue
Due: npx prettier --cache --write, eslint --cache

play sound upon timer end
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

fix: emit plus-1 by renaming (Extraneous non-emits event listeners)
  src/components/ActionsBlock.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

fix broken E2E tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
Due: npx prettier --cache --write, eslint --cache

UI tuning
  src/components/ActionsBlock.vue
  src/components/FooterText.vue
  src/components/InputTargetValue.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Update StatsTable.vue to <script setup
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

sync project setup from testing-tutorial via npm init vue@latest
  .eslintrc.js
  env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.ts
  vitest.config.js
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

allow for reset of target
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

Number Input tuned for mobile devices
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

first E2E tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/plus-1.cy.ts
  cypress/e2e/spec.cy.ts
Due: npx prettier --cache --write, eslint --cache

eslint missing package
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

eslint: rename components
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/StatsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

skeleton unittest file for each component
  src/components/__tests__/ActionsBlock.spec.ts
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/FooterText.spec.ts
  src/components/__tests__/InputItemsAndTarget.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

helperDateToString
  src/components/DataTable.vue
  src/components/helper.ts
Due: npx prettier --cache --write, eslint --cache

fix: total speed not updated
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, eslint --cache

Update MainEta.spec.ts
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

fix: Code scanning alerts 1-3
  src/__tests__/helper.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

UI: text renaming and stats: merging values and percent into one row
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

unit via select
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/components/__tests__/helper.spec.ts
  src/components/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Run Prettier
  src/components/HelloWorld.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Usage Stats
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/__tests__/FooterText.spec.ts.old
  src/helper.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

E2E tests for Multi-Timer
  cypress/e2e/eta.cy.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

Delete All via DataTable Header
  src/App.vue
  src/components/DataTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Target and Value save and load from local storage
  src/App.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Mode Down as default -> target=0
  src/components/MainEta.vue
  src/components/SelectMode.vue
Due: npx prettier --cache --write, eslint --cache

add html IDs
  src/components/ActionsBlock.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

add PWA to vite
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

StatsTable add itemsLast and change ordering
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

add icons dir
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

MainInfo.vue: Discalimer and clearLocalStorage()
  src/components/MainInfo.vue
Due: npx prettier --cache --write, eslint --cache

InputTarget refactoring
  src/components/InputTarget.vue
Due: npx prettier --cache --write, eslint --cache

StatsBlock -> StatsTable and added time since last
  src/App.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MainETA: Intro text
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

Unit Tests for MultiTimer
  src/__tests__/helper.spec.ts
  src/components/MainMultiTimer.vue
  src/components/__tests__/MainMultiTimer.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

public
  public/.htaccess
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/apple-touch-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon.ico
  public/icons/timer-outline-custom.png
  public/icons/timer-outline.svg
Due: none

Update ActionsBlock.vue to <script setup
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, eslint --cache

Update vite.config.ts
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
