Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

ActionsBlock: get unitInitial from App
  src/App.vue
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MainETA: Intro text
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

Mode Down as default -> target=0
  src/components/MainEta.vue
  src/components/SelectMode.vue
Due: npx prettier --cache --write, eslint --cache

Use GitHub Action to run SonarQube and provide coverage report
  .github/workflows/check.yml
  sonar-project.properties
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

Add unit tests for multitimer
  src/components/__tests__/MainMultiTimer.spec.ts
Due: npx prettier --cache --write, eslint --cache

minor scripts
  scripts/deploy.sh
Due: none

E2E tests for Multi-Timer
  cypress/e2e/eta.cy.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

rename helper functions
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update sonarqube-scan-action@v5
  .github/workflows/check.yml
Due: npx prettier --cache --write

helperRunningOnProd
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

multitimer: read recend timers from local storage
  cypress/e2e/helper-cy.ts
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

Chart: fix speed and markline
  src/components/EtaChart.vue
Due: npx prettier --cache --write, eslint --cache

fix decimal input
  cypress/e2e/eta.cy.ts
  src/components/InputItems.vue
Due: npx prettier --cache --write, eslint --cache

MainEta: lazy loading of EtaChart via defineAsyncComponent
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

isMobile check
  src/components/MainMultiTimer.vue
  vitest.config.ts
  vitest.setup.ts
Due: npx prettier --cache --write, eslint --cache

split InputItemsAndTarget.vue into smaller files
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputItemsAndTarget.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/SelectMode.vue
  src/components/__tests__/InputItemsAndTarget.spec.ts.old
Due: npx prettier --cache --write, eslint --cache

Add Vue Router to merge ETA and MultiTimer
  src/App.vue
  src/AppEta.vue
  src/components/ActionsBlock.vue
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/mainEta.ts
  src/router.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fixing eslint and prettiert findings
  cypress.config.ts
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/App.vue
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainMultiTimer.spec.ts
  src/helper.ts
  src/plugins/index.ts
  src/vite-env.d.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MainMultiTimer.vue: use UnitType
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

add ECharts
  src/components/EtaChart.vue
  src/components/MainEta.vue
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

InputTarget refactoring
  src/components/InputTarget.vue
Due: npx prettier --cache --write, eslint --cache

Update cypress.config.ts
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

fix broken E2E tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
Due: npx prettier --cache --write, eslint --cache

MainInfo.vue: Discalimer and clearLocalStorage()
  src/components/MainInfo.vue
Due: npx prettier --cache --write, eslint --cache

Fix SonarQube findings
  src/__tests__/helper.spec.ts
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/FooterText.spec.ts.old
  src/components/__tests__/InputItemsAndTarget.spec.ts.old
  src/components/__tests__/MainInfo.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/helperLinReg.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

DataTable.vue: migrate to v-data-table
  src/components/DataTable.vue
Due: npx prettier --cache --write, eslint --cache

refactor: value -> items
  cypress/e2e/eta.cy.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/plus-1.cy.ts
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainEta.spec.ts
  src/helper.ts
  src/helperLinReg.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Cypress initial
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
Due: npx prettier --cache --write, eslint --cache

MultiTimer -> Multi-Timer
  src/components/MainMultiTimer.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Update eta.cy.ts
  cypress/e2e/eta.cy.ts
Due: npx prettier --cache --write, eslint --cache

ActionsBlock -> SelectUnit
  src/components/ActionsBlock.vue
  src/components/MainEta.vue
  src/components/SelectUnit.vue
  src/components/__tests__/SelectUnit.spec.ts
Due: npx prettier --cache --write, eslint --cache

Update Cypress
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

chart axis ticks tuning for mobile
  src/components/EtaChart.vue
Due: npx prettier --cache --write, eslint --cache

StatsTable refactoring to fix bugs and improve readability
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

fix: read local storage data broken: data.value was missing
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

check.yml: Cypress run
  .github/workflows/check.yml
Due: npx prettier --cache --write

add gitleaks
  .github/workflows/check.yml
Due: npx prettier --cache --write

Update package-lock.json
  package-lock.json
Due: npx prettier --cache --write

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
