Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

Biome
  .lintstagedrc
  biome.json
  cypress/e2e/multitimer.cy.ts
  index.html
  package.json
  src/App.vue
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainInfo.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/composables/useEtaData.ts
  src/helper.ts
  src/helperLinReg.ts
  src/router.ts
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Biome
  .lintstagedrc
  cypress/e2e/multitimer.cy.ts
  index.html
  src/App.vue
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainInfo.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/composables/useEtaData.ts
  src/helper.ts
  src/helperLinReg.ts
  src/router.ts
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Cypress shall not update stats
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

update
  biome.json
  package.json
Due: npx prettier --cache --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

update
  biome.json
Due: npx prettier --cache --write

Auto-Update Vite, etc.
  biome.json
Due: npx prettier --cache --write

Auto-Update Vite, etc.
  biome.json
  package.json
Due: npx prettier --cache --write

Lock
  pnpm-lock.yaml
Due: none

Update package.json
  package.json
Due: npx prettier --cache --write

Tools
  .editorconfig
  .gitattributes
  .github/workflows/check.yml
  .github/workflows/update.yml
  .gitignore
  .vscode/settings.json
  cspell.config.yaml
  eslint.config.ts
  scripts/copy-modified-files.ps1
  scripts/deploy.sh
  scripts/update.sh
  sonar-project.properties
Due: npx prettier --cache --write, eslint --cache

Tools
  .editorconfig
Due: none

Packages
  biome.json
Due: npx prettier --cache --write

Packages
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx prettier --cache --write

Packages
  biome.json
  package.json
  pnpm-workspace.yaml
Due: npx prettier --cache --write

.gitattributes hide lock from git diff
  .gitattributes
Due: none

check.yml
  .github/workflows/check.yml
Due: npx prettier --cache --write

.gitattributes V2
  .gitattributes
Due: none

Update update.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

Update Packages
  biome.json
  package.json
  pnpm-workspace.yaml
Due: npx prettier --cache --write

Update Packages
  biome.json
Due: npx prettier --cache --write
