Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

Update package.json
  package.json
Due: npx prettier --cache --write

GH Action sonarqube-scan-action@v7
  .github/workflows/check.yml
Due: npx prettier --cache --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

prettier --log-level silent
  package.json
Due: npx prettier --cache --write

Packages
  package.json
Due: npx prettier --cache --write

Auto-Update Vite, etc.
  package.json
Due: npx prettier --cache --write

cypress: use vite dev (port 5173)
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

GH Action checkout@v6
  .github/workflows/check.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

GH Action Check: prevent Concurrency
  .github/workflows/check.yml
Due: npx prettier --cache --write

Update Vite, etc.
  package.json
Due: npx prettier --cache --write

cypress: use vite dev (port 5173)
  .github/workflows/check.yml
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

fix GH action update.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

Lock
  pnpm-lock.yaml
Due: none

Minor test fix
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

Documentation
  README.md
  cspell-words.txt
Due: npx prettier --cache --write

Extract eta functions to composable via AI
  src/components/MainEta.vue
  src/components/__tests__/MainEta.spec.ts
  src/composables/useEtaData.ts
Due: npx prettier --cache --write, eslint --cache

Adjust to stricter ESLint rules
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/helper.ts
  src/main.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Create AGENTS.md
  AGENTS.md
Due: npx prettier --cache --write

Apply and fixing new eslint rules
  src/App.vue
  src/AppEta.vue
  src/AppMultiTimer.vue
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/helper.ts
  src/helperLinReg.ts
  src/main.ts
  src/mainEta.ts
  src/mainMultiTimer.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  vite.config.ts
  vitest.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update cypress.config.ts
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

Packages
  package.json
  pnpm-workspace.yaml
Due: npx prettier --cache --write

new eslint.config
  .prettierignore
  eslint.config.ts
Due: npx prettier --cache --write, eslint --cache
