Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

apply ESLint V2
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  index.html
  index1.html
  index2.html
  src/App.vue
  src/AppEta.vue
  src/AppMultiTimer.vue
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MultiTimer: replace unit input by suffix d,h,m,s and support 1:30 format
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
  src/components/__tests__/MainMultiTimer.spec.ts
Due: npx prettier --cache --write, eslint --cache

build configs
  eslint.config.js
  tsconfig.app.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.d.ts
  vite.config.ts
  vitest.config.d.ts
Due: npx prettier --cache --write, eslint --cache

Update MainInfo.vue
  src/components/MainInfo.vue
Due: npx prettier --cache --write, eslint --cache

Stats: more prominent current value
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

removed simple mode / target = undefined
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/EtaChart.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/SelectMode.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

GH Copilot fix of eslint errors
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/helperLinReg.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

minor labels
  cypress/e2e/eta.cy.ts
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

minor info text changes
  src/components/MainEta.vue
  src/components/MainInfo.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Use GitHub Action to run SonarQube and provide coverage report
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

Current value as label
  src/components/InputItems.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

Update project setup from multi-meter
  cypress/tsconfig.json
  env.d.ts
  src/helper.ts
  src/plugins/vuetify.ts
  src/utils/icons.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.ts
  vitest.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Chart: fix speed and markline
  src/components/EtaChart.vue
Due: npx prettier --cache --write, eslint --cache

Lock
  pnpm-lock.yaml
Due: none

Update eslint and prettier, delete husky. 14 Lint problems pending
  .eslintrc.js
  .husky/pre-commit
  00_new_eslint.config.js
  00_new_eslint9.txt
  eslint.config.js
Due: npx prettier --cache --write, eslint --cache

fix failing cypress tests
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

Packages
  package.json
Due: npx prettier --cache --write

Update vite.config.ts
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

fixing eslint and prettiert findings
  cypress.config.ts
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/App.vue
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainMultiTimer.spec.ts
  src/helper.ts
  src/plugins/index.ts
  src/vite-env.d.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

plus1 only after first row
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

rename ETA -> Remaining-Timer
  src/App.vue
  src/components/MainInfo.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Desktop: chart right of data table
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

Recreate eslint.config.js via npx eslint --init
  eslint.config.js
  tsconfig.node.json
Due: npx prettier --cache --write, eslint --cache

Fixing SonarQube findings
  src/components/EtaChart.vue
  src/helper.ts
  src/plugins/vuetify.ts
  tsconfig.app.json
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update eta.cy.ts
  cypress/e2e/eta.cy.ts
Due: npx prettier --cache --write, eslint --cache

Tools
  .editorconfig
  .github/workflows/check.yml
  .github/workflows/update.yml
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  cspell.config.yaml
  eslint.config.ts
  sonar-project.properties
Due: npx prettier --cache --write, eslint --cache

DataTable.vue: migrate to v-data-table
  src/components/DataTable.vue
Due: npx prettier --cache --write, eslint --cache

chart axis ticks tuning for mobile
  src/components/EtaChart.vue
Due: npx prettier --cache --write, eslint --cache

Unit tests for StatsTable
  src/components/StatsTable.vue
  src/components/__tests__/StatsTable.spec.ts
Due: npx prettier --cache --write, eslint --cache

Add unit tests for multitimer
  src/components/__tests__/MainMultiTimer.spec.ts
Due: npx prettier --cache --write, eslint --cache

Fix SonarQube findings
  src/__tests__/helper.spec.ts
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/FooterText.spec.ts.old
  src/components/__tests__/InputItemsAndTarget.spec.ts.old
  src/components/__tests__/MainInfo.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/helperLinReg.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
