Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

Update tsconfig.app.json
  tsconfig.app.json
Due: npx prettier --cache --write

Update cypress.config.ts
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

Biome
  .lintstagedrc
  cypress/e2e/multitimer.cy.ts
  index.html
  src/App.vue
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainInfo.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/composables/useEtaData.ts
  src/helper.ts
  src/helperLinReg.ts
  src/router.ts
  vite.config.ts
  vitest.config.ts
  vitest.setup.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Spellcheck and Markdownlint in GH Action
  docs/vue-how-to.md
  public/icons/timer-outline.svg
Due: npx prettier --cache --write

Extract eta functions to composable via AI
  src/components/MainEta.vue
  src/components/__tests__/MainEta.spec.ts
  src/composables/useEtaData.ts
Due: npx prettier --cache --write, eslint --cache

import viteConfig from './vite.config.ts'
  tsconfig.node.json
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

minor config fixes
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

add type="button"
  src/components/DataTable.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Cypress shall not update stats
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

add min/item and time unit select
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/StatsTable.vue
  src/composables/useEtaData.ts
Due: npx prettier --cache --write, eslint --cache

add knip
  src/helperLinReg.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

cleanup
  .lintstagedrc
Due: none

chore(deps): Lock
  pnpm-lock.yaml
Due: none

chore(deps): Packages
  package.json
  pnpm-workspace.yaml
Due: npx prettier --cache --write

docs
  AGENTS.md
  README.md
  cspell-words.txt
Due: npx prettier --cache --write

chore: Tools
  .gitattributes
  .github/dependabot.yml
  .github/workflows/check.yml
  .github/workflows/update.yml
  .gitignore
  .pre-commit-config.yaml
  .rumdl.toml
  .ryl.toml
  .vscode/settings.json
  biome.json
  cspell.config.yaml
  eslint.config.ts
  knip.json
  scripts/chk_js_dead.sh
  scripts/chk_js_format.sh
  scripts/chk_js_lint.sh
  scripts/chk_js_package_audit.sh
  scripts/chk_js_test.sh
  scripts/chk_js_types.sh
  scripts/chk_md_lint.sh
  scripts/chk_pre-commit.sh
  scripts/chk_spelling.sh
  scripts/chk_ym_lint.sh
  scripts/deploy.sh
  scripts/run_checks.sh
  scripts/run_js_test_cov.sh
  scripts/update.sh
  sonar-project.properties
Due: npx prettier --cache --write, eslint --cache

chore: cspell.config.yaml
  cspell.config.yaml
Due: none

chore: check.yml
  .github/workflows/check.yml
Due: npx prettier --cache --write

chore: pre-commit add gitleaks
  .pre-commit-config.yaml
Due: none

Chore: check.yml Gitleaks Cleanup
  .github/workflows/check.yml
Due: npx prettier --cache --write

Update scripts from Korrekturleser
  scripts/chk_md_lint.sh
  scripts/chk_pre-commit.sh
  scripts/chk_spelling.sh
  scripts/run_checks.sh
Due: none

Update scripts from Korrekturleser
  scripts/chk_spelling.sh
  scripts/chk_ym_lint.sh
Due: none

Update Lock
  pnpm-lock.yaml
Due: none

Update all
  .pre-commit-config.yaml
  biome.json
  package.json
  pnpm-workspace.yaml
Due: npx prettier --cache --write

Update deploy.sh
  scripts/deploy.sh
Due: none

Disable update.yml
  .github/workflows/update.yml.txt
Due: none

Update biome.json
  biome.json
Due: npx prettier --cache --write

.pre-commit-config.yaml
  .pre-commit-config.yaml
  .rumdl.toml
  .ryl.toml
Due: none

.pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Extracted Multitimer
  README.md
  biome.json
  cypress.config.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/multitimer.cy.ts
  docs/ideas.md
  index.html
  index2.html
  knip.json
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/AppMultiTimer.vue
  src/__tests__/helper.spec.ts
  src/components/FooterText.vue
  src/components/MainInfo.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainMultiTimer.spec.ts
  src/helper.ts
  src/mainMultiTimer.ts
  src/plugins/vuetify.ts
  src/router.ts
  src/utils/icons.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update vite.config.ts
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Scripts
  scripts/chk_js_dead.sh
  scripts/chk_js_format.sh
  scripts/chk_js_lint.sh
  scripts/chk_js_package_audit.sh
  scripts/chk_js_test.sh
  scripts/chk_js_types.sh
  scripts/chk_pre-commit.sh
  scripts/chk_spelling.sh
  scripts/deploy.sh
  scripts/run_checks.sh
  scripts/run_e2e.sh
  scripts/run_js_test_cov.sh
  scripts/update.sh
Due: none

UI tuning
  index.html
  src/App.vue
  src/AppEta.vue
  src/components/DataTable.vue
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/StatsTable.vue
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update package.json
  .nvmrc
  package.json
Due: npx prettier --cache --write

Update check.yml
  .github/workflows/check.yml
Due: npx prettier --cache --write

Update pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: none

biome.json
  biome.json
Due: npx prettier --cache --write
