Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

add ECharts
  src/components/EtaChart.vue
  src/components/MainEta.vue
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

skeleton unittest file for each component
  src/components/__tests__/ActionsBlock.spec.ts
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/FooterText.spec.ts
  src/components/__tests__/InputItemsAndTarget.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

eslint: require spacing before functions
  .eslintrc.js
  src/App.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Add Vue Router to merge ETA and MultiTimer
  src/App.vue
  src/AppEta.vue
  src/components/ActionsBlock.vue
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/mainEta.ts
  src/router.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: read local storage data broken: data.value was missing
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update main.ts
  src/main.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update MainEta.spec.ts
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

MultiTimer: replace unit input by suffix d,h,m,s and support 1:30 format
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
  src/components/__tests__/MainMultiTimer.spec.ts
Due: npx prettier --cache --write, eslint --cache

Update vite.config.ts
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

fix: Code scanning alerts 1-3
  src/__tests__/helper.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: total speed not updated
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, eslint --cache

Fix SonarQube findings
  src/__tests__/helper.spec.ts
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/FooterText.spec.ts.old
  src/components/__tests__/InputItemsAndTarget.spec.ts.old
  src/components/__tests__/MainInfo.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/helperLinReg.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update title and description at index, Info and PWA Manifest
  src/components/MainInfo.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

button layout tuning
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

new favicon
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Fixing SonarQube findings
  src/components/EtaChart.vue
  src/helper.ts
  src/plugins/vuetify.ts
  tsconfig.app.json
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

refactoring and unit tests for App.vue
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/helper.ts
  src/helperLinReg.ts
  src/types.ts
  tsconfig.app.json
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

E2E tests: using select options names and some more tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
Due: npx prettier --cache --write, eslint --cache

Update all packages
  package.json
Due: npx prettier --cache --write

Desktop: chart right of data table
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

fix broken tests
  src/components/__tests__/DataTable.spec.ts.old
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

E2E test add items
  cypress/e2e/eta.cy.ts
Due: npx prettier --cache --write, eslint --cache

UI tuning
  src/components/ActionsBlock.vue
  src/components/FooterText.vue
  src/components/InputTargetValue.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

MultiTimer: add reset button
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

linebreaks
  .github/workflows/check.yml
Due: npx prettier --cache --write

SelectUnit.vue: use UnitType
  src/components/SelectUnit.vue
Due: npx prettier --cache --write, eslint --cache

Update eta.cy.ts
  cypress/e2e/eta.cy.ts
Due: npx prettier --cache --write, eslint --cache

Update MainInfo.vue
  src/components/MainInfo.vue
Due: npx prettier --cache --write, eslint --cache

UX tipps by CT: no huge header, select mode
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/ActionsBlock.vue
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

calcSpeed as function
  src/App.vue
  src/components/DataTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

playSound to helper
  src/components/StatsTable.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update Cypress
  cypress.config.ts
Due: npx prettier --cache --write, eslint --cache

EtaChart: add markLine of itemsPerSec (source: StatsTable)
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

StatsTable.vue fix startTimer for target = unknown
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Recreate eslint.config.js via npx eslint --init
  eslint.config.js
  tsconfig.node.json
Due: npx prettier --cache --write, eslint --cache

added eslint-plugin-cypress and fixed findings
  cypress.config.ts
  cypress/.eslintrc.json
  cypress/e2e/eta.cy.ts
  cypress/support/commands.ts
Due: npx prettier --cache --write, eslint --cache

DataTable.vue: migrate to v-data-table
  src/components/DataTable.vue
Due: npx prettier --cache --write, eslint --cache
