Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

Update DataTable.vue to <script setup
  src/components/DataTable.vue
Due: npx prettier --cache --write, eslint --cache

Update App.vue
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

play sound upon timer end
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Add vitest for unit tests and adjusting eslint
  .eslintrc.js
  src/components/helper.spec.js
  vitest.config.js
Due: npx prettier --cache --write, eslint --cache

Added Stats via LinReg and improved layout
  src/App.vue
  src/components/DataTable.vue
  src/components/Stats.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

plus-1 for countdown mode
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Delete All via DataTable Header
  src/App.vue
  src/components/DataTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Allow for missing target (undefined) and naming of components
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Target and Value save and load from local storage
  src/App.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Stats calculated and refactored
  src/components/Stats.vue
  src/components/helper.ts
  src/components/helper_lin_reg.ts
Due: npx prettier --cache --write, eslint --cache

def central UnitType
  src/App.vue
  src/components/DataTable.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

add icons dir
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Code Format: single quotes
  .eslintrc.js
  .prettierrc.json
  src/App.vue
  src/components/InputTargetValue.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Create types.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update tsconfig.app.json
  tsconfig.app.json
Due: npx prettier --cache --write

Update ActionsBlock.vue to <script setup
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, eslint --cache

Set title to "ETA - Estimated Time of Arrival"
  src/App.vue
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update .prettierrc.json to match order of vue defaut
  .prettierrc.json
Due: npx prettier --cache --write

unit via select
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/components/__tests__/helper.spec.ts
  src/components/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Refactoring and cleanup
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

refactoring StatsTable using ref and computed
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

husky und list-staged
  .husky/pre-commit
  .lintstagedrc
Due: none

plus-1 button
  src/App.vue
  src/components/Actions.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

build: add test prior to deployment
  scripts/publish_to_web.sh
Due: none

add PWA to vite
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

App.vue: minor
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: broken unit select
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, eslint --cache

support target = 0
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

moved audio file from assets to public
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Update TooltipSpeed.vue to <script setup
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, eslint --cache

Create InputTargetValue.vue
  src/App.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: eslint: Cannot find namespace 'NodeJS'.ts(2503)
  tsconfig.app.json
Due: npx prettier --cache --write

Improving .lintstagedrc
  .lintstagedrc
Due: none

StatsBlock -> StatsTable and added time since last
  src/App.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache
