Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

public
  public/.htaccess
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/apple-touch-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon.ico
  public/icons/timer-outline-custom.png
  public/icons/timer-outline.svg
Due: none

eslint missing package
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

PWA autoupdate
  tsconfig.json
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

plus-1 button
  src/App.vue
  src/components/Actions.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

more unit tests for Tooltip Speed
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

fix: target change did not properly trigger updateStats()
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

fix: target overwritten when switching tabs
  src/components/MainEta.vue
  src/components/SelectMode.vue
Due: npx prettier --cache --write, eslint --cache

Update eslint and prettier, delete husky. 14 Lint problems pending
  .eslintrc.js
  .husky/pre-commit
  00_new_eslint.config.js
  00_new_eslint9.txt
  eslint.config.js
Due: npx prettier --cache --write, eslint --cache

StatsTable add itemsLast and change ordering
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

add colors, icons and use non-inverted speed axis in chart
  src/colors.ts
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

eslint-config-google
  .eslintrc.js
  env.d.ts
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

small UI tuning
  src/App.vue
  src/AppEta.vue
  src/AppMultiTimer.vue
  src/components/ActionsBlock.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update vite.config.ts
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

prepare for ESLint V9
  00_new_eslint.config.js
  00_new_eslint9.txt
Due: npx prettier --cache --write, eslint --cache

Feature: Edit Data Row
  cypress/e2e/eta.cy.ts
  src/__tests__/helper.spec.ts
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/helper.ts
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

multitimer: read recend timers from local storage
  cypress/e2e/helper-cy.ts
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

StatsTable refactoring to fix bugs and improve readability
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

refactor: value -> items
  cypress/e2e/eta.cy.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/plus-1.cy.ts
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainEta.spec.ts
  src/helper.ts
  src/helperLinReg.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

EtaChart.vue: set inverse based on target instead of slope
  src/components/EtaChart.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

Update MainEta.spec.ts
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

Create update-vite.yml
  .github/workflows/update-vite.yml
Due: npx prettier --cache --write

Usage Stats
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/__tests__/FooterText.spec.ts.old
  src/helper.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

deleteAllData shall not delete target
  src/components/MainEta.vue
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

first E2E tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/plus-1.cy.ts
  cypress/e2e/spec.cy.ts
Due: npx prettier --cache --write, eslint --cache

EtaChart: add markLine of itemsPerSec (source: StatsTable)
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

skeleton unittest file for each component
  src/components/__tests__/ActionsBlock.spec.ts
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/FooterText.spec.ts
  src/components/__tests__/InputItemsAndTarget.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

Update .eslintrc.js
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

local serving of roboto font
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Created Multitimer as index2.html
  src/AppMultiTimer.vue
  src/components/MultiTimer.vue
  src/mainMultiTimer.ts
  src/plugins/vuetify.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Mode Down as default -> target=0
  src/components/MainEta.vue
  src/components/SelectMode.vue
Due: npx prettier --cache --write, eslint --cache

button color etc
  src/components/DataTable.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

Unit tests for StatsTable
  src/components/StatsTable.vue
  src/components/__tests__/StatsTable.spec.ts
Due: npx prettier --cache --write, eslint --cache

Drop Unit Select and default to min
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/SelectUnit.vue
  src/components/StatsTable.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/SelectUnit.spec.ts
  src/components/__tests__/StatsTable.spec.ts
Due: npx prettier --cache --write, eslint --cache

minor labels
  cypress/e2e/eta.cy.ts
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

E2E tests for Multi-Timer
  cypress/e2e/eta.cy.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

helperRunningOnProd
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

minor info text changes
  src/components/MainEta.vue
  src/components/MainInfo.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache
