Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

Update package.json
  package.json
Due: npx prettier --cache --write

Add package-lock.json
  package-lock.json
Due: npx prettier --cache --write

Update all packages
  package.json
Due: npx prettier --cache --write

Update Vite
  package.json
Due: npx prettier --cache --write

Update package-lock.json
  package-lock.json
Due: npx prettier --cache --write

GH Copilot fix of eslint errors
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/helperLinReg.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

actions/checkout@v5
  .github/workflows/check.yml
  .github/workflows/update-vite.yml
Due: npx prettier --cache --write

Update all packages (excluding echarts)
  package.json
Due: npx prettier --cache --write

sonarqube-scan-action@v6
  .github/workflows/check.yml
Due: npx prettier --cache --write

Update vite.config.ts
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Update check.yml
  .github/workflows/check.yml
Due: npx prettier --cache --write

Create pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: none

Update .gitignore
  .gitignore
Due: none

GitHub Actions migrate to pnpm
  .github/workflows/check.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

build configs
  eslint.config.js
  tsconfig.app.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.d.ts
  vite.config.ts
  vitest.config.d.ts
Due: npx prettier --cache --write, eslint --cache

build configs
  eslint.config.ts
  tsconfig.app.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.d.ts
  vite.config.ts
  vitest.config.d.ts
Due: npx prettier --cache --write, eslint --cache

Create pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Update cspell-words.txt
  cspell-words.txt
Due: none
