Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint, npm run spell

fix input to support "," also on iOS
  src/components/InputTargetValue.vue
  src/plugins/vuetify.ts
Due: npm run format, npm run lint, npm run spell

unit via select
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/components/__tests__/helper.spec.ts
  src/components/helper.ts
Due: npm run format, npm run lint, npm run spell

fix: eslint: Cannot find namespace 'NodeJS'.ts(2503)
  tsconfig.app.json
Due: npm run format, npm run spell

reduce build size by manually including the used icons only
  package.json
  scripts/publish_to_web.sh
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/plugins/vuetify.ts
Due: npm run format, npm run lint, npm run spell

minor layout
  src/App.vue
  src/components/ActionsBlock.vue
Due: npm run format, npm run lint, npm run spell

Update publish_to_web.sh: remove format, lint, spell for now
  scripts/publish_to_web.sh
Due: npm run spell

play sound upon timer end
  src/assets/481151__matrixxx__cow-bells-01.mp3
  src/components/StatsTable.vue
Due: npm run format, npm run lint, npm run spell

StatsBlock -> StatsTable and added time since last
  src/App.vue
  src/components/StatsTable.vue
Due: npm run format, npm run lint, npm run spell

Update .prettierrc.json to match order of vue defaut
  .prettierrc.json
Due: npm run format, npm run spell

cspell tuning
  cspell.json
  package.json
Due: npm run format, npm run spell

allow for reset of target
  src/components/InputTargetValue.vue
Due: npm run format, npm run lint, npm run spell

Update TooltipSpeed.vue to <script setup
  src/components/TooltipSpeed.vue
Due: npm run format, npm run lint, npm run spell

Update index.html
  index.html
Due: npm run format, npm run spell

Update DataTable.vue to <script setup
  src/components/DataTable.vue
Due: npm run format, npm run lint, npm run spell

Update StatsTable.vue to <script setup
  src/components/StatsTable.vue
Due: npm run format, npm run lint, npm run spell

Update InputTargetValue.vue to <script setup
  src/components/InputTargetValue.vue
Due: npm run format, npm run lint, npm run spell

Update ActionsBlock.vue to <script setup
  src/components/ActionsBlock.vue
Due: npm run format, npm run lint, npm run spell

Create favicon.ico
  public/favicon.ico
Due: npm run spell

refactoring StatsTable using ref and computed
  src/components/StatsTable.vue
Due: npm run format, npm run lint, npm run spell

def central UnitType
  src/App.vue
  src/components/DataTable.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/types.ts
Due: npm run format, npm run lint, npm run spell

Fix (valid) .spec.ts file breaks vite build
  tsconfig.app.json
Due: npm run format, npm run spell

Update package.json
  package.json
Due: npm run format, npm run spell

add PWA to vite
  package.json
  vite.config.ts
Due: npm run format, npm run spell

icon for PWA
  public/144.png
Due: npm run spell

PWA autoupdate
  tsconfig.json
  vite.config.ts
Due: npm run format, npm run spell

moved audio file from assets to public
  cspell.json
  public/audio/481151__matrixxx__cow-bells-01.mp3
  src/components/StatsTable.vue
Due: npm run format, npm run lint, npm run spell

fix: broken unit select
  src/components/ActionsBlock.vue
Due: npm run format, npm run lint, npm run spell

fix: timerInterval not using NodeJS type
  src/components/StatsTable.vue
Due: npm run format, npm run lint, npm run spell

Update App.vue: footer
  src/App.vue
Due: npm run format, npm run lint, npm run spell

target to type Number -> number
  src/App.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npm run format, npm run lint, npm run spell

App.vue: minor
  src/App.vue
Due: npm run format, npm run lint, npm run spell

Set title to "ETA - Estimated Time of Arrival"
  index.html
  src/App.vue
  vite.config.ts
Due: npm run format, npm run lint, npm run spell

eslint: require spacing before functions
  .eslintrc.js
  src/App.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npm run format, npm run lint, npm run spell

ActionsBlock: get unitInitial from App
  src/App.vue
  src/components/ActionsBlock.vue
Due: npm run format, npm run lint, npm run spell

moved to entorb.net/eta
  scripts/publish_to_web.sh
  src/App.vue
  vite.config.ts
Due: npm run format, npm run lint, npm run spell

add icons dir
  index.html
  public/icons/144.png
  public/icons/favicon.ico
  vite.config.ts
Due: npm run format, npm run spell

Update publish_to_web.sh
  scripts/publish_to_web.sh
Due: npm run spell

eslint-config-google
  .eslintrc.js
  env.d.ts
  package.json
  src/App.vue
Due: npm run format, npm run lint, npm run spell

Path conditions:
  npm run format: any of: *.{js,ts,vue,json,yml,css,html,md}
  npm run lint: any of: src/**/*.{js,ts,vue}
  npm run spell: any of: *
