Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

package update and pnpm audit findings
  package.json
Due: npx prettier --cache --write

Update Lock
  pnpm-lock.yaml
Due: none

Update update.sh
  scripts/update.sh
Due: none

package update and pnpm audit findings
  pnpm-workspace.yaml
Due: none

actions/checkout@v7 actions/cache@v6
  .github/workflows/check.yml
  .github/workflows/update.yml
Due: npx prettier --cache --write

Lock
  pnpm-lock.yaml
Due: none

Auto-Update Vite, etc.
  biome.json
Due: npx prettier --cache --write

Auto-Update Vite, etc.
  biome.json
  package.json
Due: npx prettier --cache --write

Dependabot: action updates
  .github/dependabot.yml
Due: npx prettier --cache --write

package update and pnpm audit findings
  biome.json
  package.json
Due: npx prettier --cache --write

package update and pnpm audit findings
  biome.json
Due: npx prettier --cache --write

add min/item and time unit select
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/StatsTable.vue
  src/composables/useEtaData.ts
Due: npx prettier --cache --write, eslint --cache

Update packages and pnpm audit findings
  package.json
Due: npx prettier --cache --write

audit fix
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update check.yml
  .github/workflows/check.yml
Due: npx prettier --cache --write

Update pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update tsconfig.app.json
  tsconfig.app.json
Due: npx prettier --cache --write

Spellcheck and Markdownlint in GH Action
  docs/vue-how-to.md
  public/icons/timer-outline.svg
Due: npx prettier --cache --write

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
