Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint, npm run spell

Use GitHub Action to run SonarQube and provide coverage report
  .github/workflows/check.yml
  .gitignore
  cspell-words.txt
  package.json
  sonar-project.properties
  vitest.config.ts
Due: npm run format, npm run spell

Fix SonarQube findings
  cspell-words.txt
  src/__tests__/helper.spec.ts
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/FooterText.spec.ts.old
  src/components/__tests__/InputItemsAndTarget.spec.ts.old
  src/components/__tests__/MainInfo.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
  src/helperLinReg.ts
Due: npm run format, npm run lint, npm run spell

Update sonarqube-scan-action@v5
  .github/workflows/check.yml
Due: npm run format, npm run spell

update doc
  README.md
  doc/ideas.md
  doc/tools.md
  doc/vue-how-to.md
Due: npm run format, npm run spell

Update package.json
  package.json
Due: npm run format, npm run spell

Unit tests for StatsTable
  src/components/StatsTable.vue
  src/components/__tests__/StatsTable.spec.ts
Due: npm run format, npm run lint, npm run spell

Create package-lock.json
  package-lock.json
Due: npm run format, npm run spell

Update vite
  package.json
Due: npm run format, npm run spell

Stats: more prominent current value
  src/components/StatsTable.vue
Due: npm run format, npm run lint, npm run spell

Current value as label
  src/components/InputItems.vue
  src/components/MainEta.vue
Due: npm run format, npm run lint, npm run spell

update vite
  package.json
Due: npm run format, npm run spell

linebreaks
  .github/workflows/check.yml
Due: npm run format, npm run spell

Create update-vite.yml
  .github/workflows/update-vite.yml
Due: npm run format, npm run spell

test
  package-lock.json
  package.json
Due: npm run format, npm run spell

DataTable.vue: migrate to v-data-table
  src/components/DataTable.vue
Due: npm run format, npm run lint, npm run spell

Update README.md
  README.md
Due: npm run format, npm run spell

Update all packages
  package.json
Due: npm run format, npm run spell

Update cspell-words.txt
  cspell-words.txt
Due: npm run spell

Update package-lock.json
  package-lock.json
Due: npm run format, npm run spell

min/item
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npm run format, npm run lint, npm run spell

Chart: fix speed and markline
  src/components/EtaChart.vue
Due: npm run format, npm run lint, npm run spell

Feature: Edit Data Row
  cypress/e2e/eta.cy.ts
  src/__tests__/helper.spec.ts
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/MainEta.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/helper.ts
  src/plugins/vuetify.ts
Due: npm run format, npm run lint, npm run spell

Update Vite
  package.json
Due: npm run format, npm run spell

fix: timerInterval not using NodeJS type
  src/components/StatsTable.vue
Due: npm run format, npm run lint, npm run spell

fix input to support "," also on iOS
  src/components/InputTargetValue.vue
  src/plugins/vuetify.ts
Due: npm run format, npm run lint, npm run spell

eslint findings
  src/components/Stats.vue
  src/components/helperLinReg.ts
  src/plugins/index.ts
Due: npm run format, npm run lint, npm run spell

Create types.ts
  src/types.ts
Due: npm run format, npm run lint, npm run spell

PWA autoupdate
  tsconfig.json
  vite.config.ts
Due: npm run format, npm run spell

prettier rules to vue default template
  .eslintrc.js
  .prettierrc.json
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsBlock.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/helperLinReg.spec.ts
  src/components/helper.ts
  src/plugins/vuetify.ts
  vite.config.ts
  vitest.config.ts
Due: npm run format, npm run lint, npm run spell

Path conditions:
  npm run format: any of: *.{js,ts,vue,json,yml,css,html,md}
  npm run lint: any of: src/**/*.{js,ts,vue}
  npm run spell: any of: *
