Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

sync project setup from testing-tutorial via npm init vue@latest
  .editorconfig
  .eslintrc.js
  env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.vitest.json
  vite.config.ts
  vitest.config.js
  vitest.config.ts
Due: npx prettier --cache --write, eslint --cache

Run Prettier
  src/components/HelloWorld.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fixing doc-root problem in build
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

reduce build size by manually including the used icons only
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

UnitTests for math and some minor fixes
  src/components/DataTable.spec.js
  src/components/DataTable.vue
  src/components/Stats.vue
  src/components/helper.spec.js
  src/components/helper.spec.ts
  src/components/helperLinReg.spec.ts
  src/components/helperLinReg.ts
Due: npx prettier --cache --write, eslint --cache

Update StatsTable.vue to <script setup
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

eslint missing package
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

prettier rules to vue default template
  .eslintrc.js
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsBlock.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/helperLinReg.spec.ts
  src/components/helper.ts
  src/plugins/vuetify.ts
  vite.config.ts
  vitest.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

minor layout
  src/App.vue
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fixing remaining time
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

index.html
  index.html
  index1.html
  index2.html
Due: npx prettier --cache --write

allow for reset of target
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

Update TooltipSpeed.vue to <script setup
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, eslint --cache

moved audio file from assets to public
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

fix tests add: import { describe, it, expect } from 'vitest'
  src/components/DataTable.spec.ts
  src/components/helper.spec.ts
  src/components/helperLinReg.spec.ts
Due: npx prettier --cache --write, eslint --cache

Number Input tuned for mobile devices
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

def central UnitType
  src/App.vue
  src/components/DataTable.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

husky und list-staged
  .husky/pre-commit
  .lintstagedrc
Due: none

fix input to support "," also on iOS
  src/components/InputTargetValue.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

fix: broken unit select
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, eslint --cache

Update tsconfig.app.json
  tsconfig.app.json
Due: npx prettier --cache --write

StatsBlock -> StatsTable and added time since last
  src/App.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Target and Value save and load from local storage
  src/App.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Create publish_to_web.sh
  scripts/publish_to_web.sh
Due: none

Update App.vue: footer
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Stats calculated and refactored
  src/components/Stats.vue
  src/components/helper.ts
  src/components/helper_lin_reg.ts
Due: npx prettier --cache --write, eslint --cache

target to type Number -> number
  src/App.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

eslint + prettier findings
  src/App.vue
  src/components/Actions.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/Stats.vue
  tsconfig.json
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Config Prettier, ESlint
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

support target = 0
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

eslint: rename components
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/StatsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Create InputTargetValue.vue
  src/App.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: eslint: Cannot find namespace 'NodeJS'.ts(2503)
  tsconfig.app.json
Due: npx prettier --cache --write

helperDateToString
  src/components/DataTable.vue
  src/components/helper.ts
Due: npx prettier --cache --write, eslint --cache

Delete All via DataTable Header
  src/App.vue
  src/components/DataTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

testcases to subdir
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/helper.spec.ts
  src/components/__tests__/helperLinReg.spec.ts
Due: npx prettier --cache --write, eslint --cache

reduce build size by manually including the used icons only
  scripts/publish_to_web.sh
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Set title to "ETA - Estimated Time of Arrival"
  src/App.vue
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update DataTable.vue to <script setup
  src/components/DataTable.vue
Due: npx prettier --cache --write, eslint --cache
