Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

MultiTimer -> Multi-Timer
  src/components/MainMultiTimer.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

ActionsBlock: get unitInitial from App
  src/App.vue
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MultiTimer: add reset button
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Delete HelloWorld.vue
  src/components/HelloWorld.vue
Due: npx prettier --cache --write, eslint --cache

E2E test add items
  cypress/e2e/eta.cy.ts
Due: npx prettier --cache --write, eslint --cache

UI tuning
  src/components/ActionsBlock.vue
  src/components/FooterText.vue
  src/components/InputTargetValue.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

minor layout
  src/App.vue
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: target change did not properly trigger updateStats()
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Create types.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update main.ts
  src/main.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

skeleton unittest file for each component
  src/components/__tests__/ActionsBlock.spec.ts
  src/components/__tests__/DataTable.spec.ts
  src/components/__tests__/FooterText.spec.ts
  src/components/__tests__/InputItemsAndTarget.spec.ts
  src/components/__tests__/MainEta.spec.ts
  src/components/__tests__/MainMultiTimer.spec.ts
  src/components/__tests__/StatsTable.spec.ts
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

ActionsBlock -> SelectUnit
  src/components/ActionsBlock.vue
  src/components/MainEta.vue
  src/components/SelectUnit.vue
  src/components/__tests__/SelectUnit.spec.ts
Due: npx prettier --cache --write, eslint --cache

fixing doc-root problem in build
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Improving .lintstagedrc
  .lintstagedrc
Due: none

StatsTable.vue fix startTimer for target = unknown
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Set title to "ETA - Estimated Time of Arrival"
  src/App.vue
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: eslint: Cannot find namespace 'NodeJS'.ts(2503)
  tsconfig.app.json
Due: npx prettier --cache --write

target to type Number -> number
  src/App.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

EtaChart.vue: skip first empty row for speed
  src/components/EtaChart.vue
Due: npx prettier --cache --write, eslint --cache

support target = 0
  src/components/Stats.vue
Due: npx prettier --cache --write, eslint --cache

Added DataTable and TooltipSpeed
  src/App.vue
  src/components/DataTable.vue
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: Code scanning alerts 1-3
  src/__tests__/helper.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

rename helper functions
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

prepare for ESLint V9
  00_new_eslint.config.js
  00_new_eslint9.txt
Due: npx prettier --cache --write, eslint --cache

Created Multitimer as index2.html
  src/AppMultiTimer.vue
  src/components/MultiTimer.vue
  src/mainMultiTimer.ts
  src/plugins/vuetify.ts
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

local serving of roboto font
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Added Stats via LinReg and improved layout
  src/App.vue
  src/components/DataTable.vue
  src/components/Stats.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update TooltipSpeed.vue to <script setup
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, eslint --cache

Create LICENSE
  LICENSE
Due: none

Update title and description at index, Info and PWA Manifest
  src/components/MainInfo.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Added Info Page
  src/App.vue
  src/components/MainInfo.vue
  src/components/__tests__/MainInfo.spec.ts
  src/router.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix broken E2E tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
Due: npx prettier --cache --write, eslint --cache

initial
  .browserslistrc
  .eslintrc.js
  .gitattributes
  src/App.vue
  src/components/HelloWorld.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

eslint missing package
  .eslintrc.js
Due: npx prettier --cache --write, eslint --cache

EtaChart: add markLine of itemsPerSec (source: StatsTable)
  src/components/EtaChart.vue
  src/components/MainEta.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

router.ts: fix [Vue Router warn]: Component "default" in record with path is defined using "defineAsyncComponent()"
  src/router.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache
