Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

initial
  .browserslistrc
  .eslintrc.js
  src/App.vue
  src/components/HelloWorld.vue
  src/main.ts
  src/plugins/index.ts
  src/plugins/vuetify.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Remaining time as v-card
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

moved audio file from assets to public
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

split InputItemsAndTarget.vue into smaller files
  src/components/FooterText.vue
  src/components/InputItems.vue
  src/components/InputItemsAndTarget.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/SelectMode.vue
  src/components/__tests__/InputItemsAndTarget.spec.ts.old
Due: npx prettier --cache --write, eslint --cache

Create 481151__matrixxx__cow-bells-01.mp3
  public/audio/481151__matrixxx__cow-bells-01.mp3
Due: none

eslint-config-google
  .eslintrc.js
  env.d.ts
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: total speed not updated
  src/components/TooltipSpeed.vue
Due: npx prettier --cache --write, eslint --cache

eslint findings
  src/components/Stats.vue
  src/components/helperLinReg.ts
  src/plugins/index.ts
Due: npx prettier --cache --write, eslint --cache

Stats calculated and refactored
  src/components/Stats.vue
  src/components/helper.ts
  src/components/helper_lin_reg.ts
Due: npx prettier --cache --write, eslint --cache

allow for reset of target
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

target to type Number -> number
  src/App.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Update InputTargetValue.vue to <script setup
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, eslint --cache

unit via select
  src/App.vue
  src/components/ActionsBlock.vue
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
  src/components/__tests__/helper.spec.ts
  src/components/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

eslint: require spacing before functions
  .eslintrc.js
  src/App.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Create InputTargetValue.vue
  src/App.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

PWA autoupdate
  tsconfig.json
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

add PWA to vite
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Update StatsTable.vue to <script setup
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

added eslint-plugin-cypress and fixed findings
  cypress.config.ts
  cypress/.eslintrc.json
  cypress/e2e/eta.cy.ts
  cypress/support/commands.ts
Due: npx prettier --cache --write, eslint --cache

router.ts: lazy loading of tabs via defineAsyncComponent
  src/router.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

UI minor
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Update App.vue
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

fix: broken unit select
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, eslint --cache

first E2E tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/plus-1.cy.ts
  cypress/e2e/spec.cy.ts
Due: npx prettier --cache --write, eslint --cache

MainETA: Intro text
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

Fix (valid) .spec.ts file breaks vite build
  tsconfig.app.json
Due: npx prettier --cache --write

deleteAllData shall not delete target
  src/components/MainEta.vue
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

Cypress initial
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
Due: npx prettier --cache --write, eslint --cache

plus-1 for countdown mode
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MainEta: lazy loading of EtaChart via defineAsyncComponent
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

refactor: value -> items
  cypress/e2e/eta.cy.ts
  cypress/e2e/helper-cy.ts
  cypress/e2e/plus-1.cy.ts
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainEta.spec.ts
  src/helper.ts
  src/helperLinReg.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

plus-1 button
  src/App.vue
  src/components/Actions.vue
  src/components/InputTargetValue.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Set title to "ETA - Estimated Time of Arrival"
  src/App.vue
  vite.config.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

ActionsBlock: get unitInitial from App
  src/App.vue
  src/components/ActionsBlock.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Improving .lintstagedrc
  .lintstagedrc
Due: none

Update App.vue: footer
  src/App.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Delete All via DataTable Header
  src/App.vue
  src/components/DataTable.vue
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

MultiTimer: add reset button
  src/components/MainMultiTimer.vue
  src/plugins/vuetify.ts
Due: npx prettier --cache --write, eslint --cache

Path conditions:
  npx prettier --cache --write: any of: **/*.{js,ts,vue,json,yml,css,html,md}
  npx cspell --cache --quiet --words-only --unique: any of: src/*.{js,ts,vue,json,yml,css,html,md}
  eslint --cache: any of: **/*.{js,ts,vue}
