Repository entorb/eta-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

.lintstagedrc:

{
  "**/*.{js,ts,vue,json,yml,css,html,md}": "npx prettier --cache --write",
  "src/*.{js,ts,vue,json,yml,css,html,md}": "npx cspell --cache --quiet --words-only --unique",
  "**/*.{js,ts,vue}": "eslint --cache"
}

EtaChart.vue: set inverse based on target instead of slope
  src/components/EtaChart.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

Stats: more prominent current value
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

E2E tests: using select options names and some more tests
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
Due: npx prettier --cache --write, eslint --cache

removed simple mode / target = undefined
  cypress/e2e/eta.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/components/EtaChart.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/SelectMode.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainEta.spec.ts
Due: npx prettier --cache --write, eslint --cache

UI: text renaming and stats: merging values and percent into one row
  src/components/DataTable.vue
  src/components/InputItems.vue
  src/components/InputTarget.vue
  src/components/MainEta.vue
  src/components/MainInfo.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Fixing SonarQube findings
  src/components/EtaChart.vue
  src/helper.ts
  src/plugins/vuetify.ts
  tsconfig.app.json
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

router.ts: lazy loading of tabs via defineAsyncComponent
  src/router.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

refactoring and unit tests for App.vue
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/helper.spec.ts
  src/__tests__/helperLinReg.spec.ts
  src/components/DataTable.vue
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
  src/components/TooltipSpeed.vue
  src/helper.ts
  src/helperLinReg.ts
  src/types.ts
  tsconfig.app.json
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Unit Tests for MultiTimer
  src/__tests__/helper.spec.ts
  src/components/MainMultiTimer.vue
  src/components/__tests__/MainMultiTimer.spec.ts
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

min/item
  src/components/TooltipSpeed.vue
  src/components/__tests__/TooltipSpeed.spec.ts
Due: npx prettier --cache --write, eslint --cache

vite.config.ts : chunkSizeWarningLimit
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Cypress initial
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
Due: npx prettier --cache --write, eslint --cache

UI minor
  src/components/InputItemsAndTarget.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

chart axis ticks tuning for mobile
  src/components/EtaChart.vue
Due: npx prettier --cache --write, eslint --cache

Delete HelloWorld.vue
  src/components/HelloWorld.vue
Due: npx prettier --cache --write, eslint --cache

fixing eslint and prettiert findings
  cypress.config.ts
  cypress/e2e/eta.cy.ts
  cypress/e2e/multitimer.cy.ts
  cypress/e2e/plus-1.cy.ts
  src/App.vue
  src/components/DataTable.vue
  src/components/EtaChart.vue
  src/components/StatsTable.vue
  src/components/__tests__/MainMultiTimer.spec.ts
  src/helper.ts
  src/plugins/index.ts
  src/vite-env.d.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

InputTarget refactoring
  src/components/InputTarget.vue
Due: npx prettier --cache --write, eslint --cache

docs
  docs/ideas.md
  docs/issues.md
  docs/tools.md
  docs/vorlagen.md
  docs/vue-how-to.md
Due: npx prettier --cache --write

Current value as label
  src/components/InputItems.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

StatsTable add itemsLast and change ordering
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

fix: target change did not properly trigger updateStats()
  src/components/InputTargetValue.vue
  src/components/StatsTable.vue
Due: npx prettier --cache --write, eslint --cache

Create package-lock.json
  package-lock.json
Due: npx prettier --cache --write

Update eslint and prettier, delete husky. 14 Lint problems pending
  .eslintrc.js
  .husky/pre-commit
  00_new_eslint.config.js
  00_new_eslint9.txt
  eslint.config.js
Due: npx prettier --cache --write, eslint --cache

MainEta: lazy loading of EtaChart via defineAsyncComponent
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

Unit tests for StatsTable
  src/components/StatsTable.vue
  src/components/__tests__/StatsTable.spec.ts
Due: npx prettier --cache --write, eslint --cache

playSound to helper
  src/components/StatsTable.vue
  src/helper.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

Add unit tests for multitimer
  src/components/__tests__/MainMultiTimer.spec.ts
Due: npx prettier --cache --write, eslint --cache

fix failing cypress tests
  cypress/e2e/multitimer.cy.ts
  src/components/MainMultiTimer.vue
Due: npx prettier --cache --write, eslint --cache

new favicon
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

ActionsBlock -> SelectUnit
  src/components/ActionsBlock.vue
  src/components/MainEta.vue
  src/components/SelectUnit.vue
  src/components/__tests__/SelectUnit.spec.ts
Due: npx prettier --cache --write, eslint --cache

E2E test add items
  cypress/e2e/eta.cy.ts
Due: npx prettier --cache --write, eslint --cache

store speed in data
  src/App.vue
  src/components/DataTable.vue
  src/components/StatsTable.vue
  src/components/__tests__/DataTable.spec.ts.old
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

button color etc
  src/components/DataTable.vue
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache

Update title and description at index, Info and PWA Manifest
  src/components/MainInfo.vue
  vite.config.ts
Due: npx prettier --cache --write, eslint --cache

Update MainInfo.vue
  src/components/MainInfo.vue
Due: npx prettier --cache --write, eslint --cache

Usage Stats
  src/components/FooterText.vue
  src/components/MainEta.vue
  src/components/MainMultiTimer.vue
  src/components/__tests__/FooterText.spec.ts.old
  src/helper.ts
  src/types.ts
Due: npx prettier --cache --write, npx cspell --cache --quiet --words-only --unique, eslint --cache

plus1 only after first row
  src/components/MainEta.vue
Due: npx prettier --cache --write, eslint --cache
